
{% extends 'templates/app.twig' %}

{% block content %}

    <main>

        <div class="col-lg-12 section_noticias_banner background_" style="background-image:url({{ base_url() }}/uploads/2019/08/remi-walle-86579-unsplash-1.png)">            

            <div class="ca_ content_item">

                <h2>Beneficencia</h2>

            </div>

        </div>

    </main>

    <section>

        <div class="col-lg-12 section_beneficencia_general">

            <div class="section_beneficencia_container">

                <div class="section_tab">

                    <div class="filtro">
                            <ul>
                            <li class=" ">
                          <a href="{{ base_url() }}/plan-bicentenario/" ><i class="icon-planbicente_bene"></i>Plan Bicentenario</a>
                            </li>

                            <li class="active ">
                                <a href="{{ base_url() }}/beneficencia/nosotros/"><i class="icon-nosotros_bene"></i>Nosotros</a>
                            </li>

                            <li class=" ">
                                <a href="{{ base_url() }}/beneficencia/directorio/" ><i class="icon-directorio"></i>Directorio</a>
                            </li>

                            <li class=" ">
                                <a href="{{ base_url() }}/beneficencia/patronato/" ><i class="icon-patronato_bene"></i>Patronato</a>
                            </li>

                            <li class=" ">
                                <a href="{{ base_url() }}/beneficencia/historia/" ><i class="icon-historia_bene"></i>Historia</a>
                            </li>

                        </ul>
                    </div>

                </div>

                <div class="section_content_2">

                    <h3>Nosotros <strong class="subtitle"> &nbsp;Beneficencia de Lima: 185 años de historia</strong></h3>


                    <div class="section_content--aboutus-vivir">
                        <div class="section_content_about_container">
                          
                            <div class="section_content_about">
                                <div class="texto">
                                    <div class="content_">
                                        <h4>Misión</h4>
                                        <div class="content_text">
                                            <p>Prestar servicios de protección y servicio a las personas que viven en
                                                estado de vulnerabilidad, situaciones de grave riesgo social, abandono, 
                                                pobreza y pobreza extrema; brindándoles atención integral.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--
                                  <div class="imagen">
                                    <img src="{{ base_url() }}/uploads/2019/08/bernardo-ramonfaur-436543-unsplash.png">
                                </div>
                                -->
                            </div>

                            <div class="section_content_about">
                                <div class="texto">
                                    <div class="content_">
                                        <h4>Visión</h4>
                                        <div class="content_text">
                                            <p>Convertir a la Beneficencia en una institución íntegra y sólida.
                                                    Que permita mejorar y dignificar la calidad de vida de las personas que
                                                    alberga y atiende, convirtiéndolas en agentes de cambio para la ciudad.</p>
                                        </div>
                                    </div>
                                </div>
                                   <!--
                                 <div class="imagen">
                                    <img src="{{ base_url() }}/uploads/2019/08/chinh-le-duc-132753-unsplash.png">
                                </div>
                                    -->
                            </div>    
                        </div>
                        <div class="section_content_about">

                            <div class="texto">
                                <div class="content_">

                                    <h4 class="title--center">Valores</h4>

                                    <div class="content_text">
                                        <p>En nuestra institución promovemos valores de ayuda, solidaridad y respeto
                                            especialmente hacia los más necesitados de nuestra ciudad. El trato digno
                                            a todos sin excepción. Como entidad buscamos cultivar la integridad, el 
                                            compromiso, la transparencia y la excelencia, teniendo como 
                                            premisa Vivir para servir.</p>
                                    </div>
                                </div>

                            </div>

                            <section>
                                <div class="col-lg-12 vivir_para_servir">
                                    <h2>“El que no vive para servir, no sirve para vivir.”</h2>
                                    <p><strong>Santa Teresa de Calcuta</strong></p>
                                    <div class="content_vivir_para_servir">
                                        <div class="item">
                                            <a href="#">
                                                <div class="image">
                                                    <img src="{{ base_url() }}/uploads/2019/08/plan_bicent.png">
                                                </div>
                                                <div class="title">
                                                    Implementación de modelo de gobierno corporativo                    
                                                </div>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="#">
                                                <div class="image">
                                                    <img src="{{ base_url() }}/uploads/2019/08/plan_bicent2.png">
                                                </div>
                                                <div class="title">
                                                    Fortalecimiento y proyección de nuestros programas sociales                   
                                                </div>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="#">
                                                <div class="image">
                                                    <img src="{{ base_url() }}/uploads/2019/08/plan_bicent3.png">
                                                </div>
                                                <div class="title">
                                                    Puesta en valor y rentabilización del patrimonio histórico cultural e inmobiliario                   
                                                </div>
                                            </a>
                                        </div>
                                        <div class="item">
                                            <a href="#">
                                                <div class="image">
                                                    <img src="{{ base_url() }}/uploads/2019/08/plan_bicent4.png">
                                                </div>
                                                <div class="title">
                                                    Generación y gestión de nuevas unidades de negocio                    
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </section>

                        </div>

                    </div>



                </div>

            </div>

        </div>

    </section>


{% endblock content %}
