{% extends 'templates/app.twig' %}


{% block content %}


    <section id="content">

        <!-- Page Heading -->
        <section class="section page-heading animate-onscroll">

            <h1>ATENCIÓN AL CIUDADANO</h1>
            <p class="breadcrumb"><a href="main-v1.html">INICIO</a> / ATENCIÓN AL CIUDADANO</p>

        </section>
        <!-- Page Heading -->


        <!-- Section -->
        <section class="section full-width-bg gray-bg">

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12">


                    <div class="media-items row">

                        <div class="col-lg-4 col-md-4 col-sm-6 mix category-photos propuestasmar" data-nameorder="1"
                             data-dateorder="3">
                            <!-- Media Item -->
                            <div class="media-item animate-onscroll ">
                                <div class="media-image">
                                    <img src="img/atencion/bolsa.jpg" alt="">
                                    <div class="media-hover">
                                        <div class="media-icons">
                                            <a href="{{ base_url() }}/atencion/detalle" class="media-icon"><i
                                                        class="icons icon-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="media-info propuestasmar" style="background: #158948;">
                                    <div class="media-header">
                                        <div class="media-caption">
                                            <h2><a class="propuestas"  href="{{ base_url() }}/atencion/detalle">
                                                    BOLSA LABORAL</a></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 mix category-photos propuestasmar" data-nameorder="1"
                             data-dateorder="3">
                            <!-- Media Item -->
                            <div class="media-item animate-onscroll ">
                                <div class="media-image">
                                    <img src="img/atencion/bolsa.jpg" alt="">
                                    <div class="media-hover">
                                        <div class="media-icons">
                                            <a href="{{ base_url() }}/atencion/detalle" class="media-icon"><i
                                                        class="icons icon-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="media-info propuestasmar" style="background: #158948;">
                                    <div class="media-header">
                                        <div class="media-caption">
                                            <h2><a class="propuestas"  href="{{ base_url() }}/atencion/detalle">
                                                    BOLSA LABORAL</a></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 mix category-photos propuestasmar" data-nameorder="1"
                             data-dateorder="3">
                            <!-- Media Item -->
                            <div class="media-item animate-onscroll ">
                                <div class="media-image">
                                    <img src="img/atencion/bolsa.jpg" alt="">
                                    <div class="media-hover">
                                        <div class="media-icons">
                                            <a href="{{ base_url() }}/atencion/detalle" class="media-icon"><i
                                                        class="icons icon-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="media-info propuestasmar" style="background: #158948;">
                                    <div class="media-header">
                                        <div class="media-caption">
                                            <h2><a class="propuestas"  href="{{ base_url() }}/atencion/detalle">
                                                    BOLSA LABORAL</a></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 mix category-photos propuestasmar" data-nameorder="1"
                             data-dateorder="3">
                            <!-- Media Item -->
                            <div class="media-item animate-onscroll ">
                                <div class="media-image">
                                    <img src="img/atencion/bolsa.jpg" alt="">
                                    <div class="media-hover">
                                        <div class="media-icons">
                                            <a href="{{ base_url() }}/atencion/detalle" class="media-icon"><i
                                                        class="icons icon-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="media-info propuestasmar" style="background: #158948;">
                                    <div class="media-header">
                                        <div class="media-caption">
                                            <h2><a class="propuestas"  href="{{ base_url() }}/atencion/detalle">
                                                    BOLSA LABORAL</a></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 mix category-photos propuestasmar" data-nameorder="1"
                             data-dateorder="3">
                            <!-- Media Item -->
                            <div class="media-item animate-onscroll ">
                                <div class="media-image">
                                    <img src="img/atencion/bolsa.jpg" alt="">
                                    <div class="media-hover">
                                        <div class="media-icons">
                                            <a href="{{ base_url() }}/atencion/detalle" class="media-icon"><i
                                                        class="icons icon-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="media-info propuestasmar" style="background: #158948;">
                                    <div class="media-header">
                                        <div class="media-caption">
                                            <h2><a class="propuestas"  href="{{ base_url() }}/atencion/detalle">
                                                    BOLSA LABORAL</a></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 mix category-photos propuestasmar" data-nameorder="1"
                             data-dateorder="3">
                            <!-- Media Item -->
                            <div class="media-item animate-onscroll ">
                                <div class="media-image">
                                    <img src="img/atencion/bolsa.jpg" alt="">
                                    <div class="media-hover">
                                        <div class="media-icons">
                                            <a href="{{ base_url() }}/atencion/detalle" class="media-icon"><i
                                                        class="icons icon-eye"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="media-info propuestasmar" style="background: #158948;">
                                    <div class="media-header">
                                        <div class="media-caption">
                                            <h2><a class="propuestas"  href="{{ base_url() }}/atencion/detalle">
                                                    BOLSA LABORAL</a></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>


            </div>

        </section>
        <!-- /Section -->

    </section>

{% endblock content %}
