{% extends 'templates/app.twig' %}
{% block content %}
<div class="centros_esperanza_maria_castano_sagrada_familia_y_sagrado_corazon">
   <main>
      <div class="col-lg-12 section_landing">
         <div class="owl-carousel owl-theme owl_landing_top">
            <div class="item_owl_landing_top">
               <div class="col-lg-12 background_" style="background-image:url('{{ base_url() }}/images/cemaricacastano/portada.jpg')">
                  <div class="ca_ content_item">
                     <h2>Centros Esperanza María Castaño, Sagrada Familia y Sagrado Corazón<br></h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </main>
   <section id="contenido">
      <div class="col-lg-12 section_menu_tabs">
         <div class="section_tab">
            <div class="filtro">
               <ul id="menu-centros-esperanza-2" class="menu">
                  <li class="inicio  "><a href="{{ base_url() }}/centros-esperanza-maria-castano-sagrada-familia-y-sagrado-corazon/inicio/#contenido" ><i class="icon-home_landing"></i>Inicio</a></li>
                  <li class="modalidad-de-ingreso  active"><a href="{{ base_url() }}/centros-esperanza-maria-castano-sagrada-familia-y-sagrado-corazon/modalidad-de-ingreso/#contenido" ><i class="icon-modalidad"></i>Modalidad de Ingreso</a></li>
                  <li class="hogares  "><a href="{{ base_url() }}/centros-esperanza-maria-castano-sagrada-familia-y-sagrado-corazon/hogares/#contenido" ><i class="icon-hogares"></i>Centro Esperanza</a></li>
                  <li class="contactanos  "><a href="{{ base_url() }}/centros-esperanza-maria-castano-sagrada-familia-y-sagrado-corazon/contactanos/#contenido" ><i class="icon-contacto_landing"></i>Contáctanos</a></li>
               </ul>
            </div>
         </div>
         <div class="section_content_ modalidad_">
            <h3>Modalidad de Ingreso <strong class="subtitle"> &nbsp;Requisitos que se deben cumplir</strong></h3>
            <div class="text">
               <p>Se puede ingresar a partir de los <strong>60 años</strong> de edad a más.</p>
            </div>
            <section>
               <div class="col-lg-12 section_landing_turismo">
                  <div class="row">
                     <div class="col-lg-12 landing_requisitos_canevaro">
                        <div class="landing_requisitos_canevaro_container" style="margin-top: 0;">
                           <div class="content_">
                              <div class="head">
                                 <span><i class="far fa-file"></i></span>
                                 Solicitud de documentos
                              </div>
                              <div class="body">
                                 <div class="item">
                                    <span>1</span>
                                    <p>
                                       Contar con DNI (copia).
                                    </p>
                                 </div>
                                 <div class="item">
                                    <span>2</span>
                                    <p>
                                       Deberá llenar el formato de solicitud de la web y adjunta copia.
                                    </p>
                                 </div>
                              </div>
                           </div>
                           <div class="content_2">
                              <div class="head">
                                 <span><i class="fas fa-check"></i></span>
                                 Requisitos verificables
                              </div>
                              <div class="body">
                                 <div class="item">
                                    <p>&bull;  La persona deberá vivir en extrema pobreza, abandono o riesgo social.</p>
                                 </div>
                                 <div class="item">
                                    <p>&bull; No contar con familiares directos (hijos, hermanos y/o cónyuges).</p>
                                 </div>
                                 <div class="item">
                                    <p>&bull; No padecer enfermedades infecto-contagiosas.</p>
                                 </div>
                                 <div class="item">
                                    <p>&bull; No padecer trastornos psiquiátricos, de personalidad o dependencia mental.</p>
                                 </div>
                                 <div class="item">
                                    <p>&bull; No ser fármaco dependiente.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </div>
   </section>
</div>
{% endblock content %}