{% extends 'templates/app.twig' %}

{% block content %}

    <div class="centros_esperanza_maria_castano_sagrada_familia_y_sagrado_corazon">
     <main>
        <div class="col-lg-12 section_landing">  
            <div class="owl-carousel owl-theme owl_landing_top">
                <div class="item_owl_landing_top">
                    <div class="col-lg-12 background_" style="background-image:url('{{ base_url() }}/images/cemaricacastano/portada.jpg')">
                        <div class="ca_ content_item">
                            <h2>Centros Esperanza María Castaño, Sagrada Familia y Sagrado Corazón<br></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </main>
                        
       <section id="contenido">
        <div class="col-lg-12 section_menu_tabs">
            <div class="section_tab">
                <div class="filtro">
                    <ul id="menu-centros-esperanza-2" class="menu">
                        <li class="inicio  "><a href="{{ base_url() }}/centros-esperanza-maria-castano-sagrada-familia-y-sagrado-corazon/inicio/#contenido" ><i class="icon-home_landing"></i>Inicio</a></li>
                        <li class="modalidad-de-ingreso  "><a href="{{ base_url() }}/centros-esperanza-maria-castano-sagrada-familia-y-sagrado-corazon/modalidad-de-ingreso/#contenido" ><i class="icon-modalidad"></i>Modalidad de Ingreso</a></li>
                        <li class="hogares  active"><a href="{{ base_url() }}/centros-esperanza-maria-castano-sagrada-familia-y-sagrado-corazon/hogares/#contenido" ><i class="icon-hogares"></i>Centro Esperanza</a></li>
                        <li class="contactanos  "><a href="{{ base_url() }}/centros-esperanza-maria-castano-sagrada-familia-y-sagrado-corazon/contactanos/#contenido" ><i class="icon-contacto_landing"></i>Contáctanos</a></li>
                    </ul>                
                </div>
            </div>

                <div class="section_content_ section_content_tabs">
                    <h3>Centro Esperanza <strong class="subtitle"> &nbsp;Centro Esperanza para compartir</strong></h3>

                    <div class="section_content_tabs_flex">
                        <div class="content_tabs">
                            <div class="tab-content">
                                <div class="tab-pane in active " id="valor_1">
                                    <div class="tabs_body">
                                        <p><strong>En los años 1,986 y 1,987, la Beneficencia de Lima reconstruye y rehabilita este inmueble para cumplir su misión de recreación, es así que el 29 de Abril de 1,989 se inaugura el primer albergue de adultos mayores Sagrada Familia. </strong></p>
                                        <p>El albergue consta de habitaciones de dos piezas cada una, distribuidas en tres pabellones de amplio pasadizo, su construcción es de material mixto y antiguo de quincha y adobe, techo de madera con torta de barro, de una sola planta, con servicios higiénicos de uso común.</p>
                                    </div>
                                    <div class="tabs_image">
                                        <img src="{{ base_url() }}/uploads/2019/08/centros_ge_3.png">
                                        <div class="texto">
                                            El 29 de Abril de 1989, el local fue reconstruido y convertido en el Hogar para parejas matrimoniales, la Sagrada Familia, cuenta en la actualidad con 39 albergados, 15 mujeres y 24 varones.                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="valor_2">
                                    <div class="tabs_body">
                                        <p><strong>Fue fundado por el Dr. Augusto Pérez Araníbar, en homenaje a la memoria de su esposa doña Delmira Gonzáles Vigil. Se inauguró en Octubre 1,935, con el objeto de dar albergue a señoras pertenecientes a familias acomodadas o de abolengo que hayan perdido su fortuna. </strong></p>
                                        <p>Su construcción es de material noble: ladrillo y cemento, techo de madera con torta de barro, de una sola planta y piso de parquet. Consta de 14 departamentos de dos y tres habitaciones, distribuidos en paralelo y separados por un pasadizo.</p>
                                        <p>Su arquitectura es de tipo colonial.</p>
                                    </div>
                                    <div class="tabs_image">
                                        <img src="{{ base_url() }}/uploads/2019/08/centros_ge_4.png">
                                        <div class="texto">
                                            El 29 de Abril de 1989, el local fue reconstruido y convertido en el Hogar para parejas matrimoniales, la Sagrada Familia, cuenta en la actualidad con 39 albergados, 15 mujeres y 24 varones.                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="valor_3">
                                    <div class="tabs_body">
                                        <p><strong>Su propietaria fue la señora Maria Castaño de Velezmoro, quien dispuso que la casa pase a poder de los señores Presbíteros don Pedro García Sanz y Dr. Agustín Obín y Charún para que la utilizaran por su días, obligándolos a convertir dicha casa en hospicio para pobres, una vez fallecido el último de ellos. </strong></p>
                                        <p>La arquitectura de este albergue es tipo colonial, se encuentra conformado por un conjunto de 14 departamentos que son separados por un amplio zaguán, su construcción es de material noble: ladrillo piso y techo de madera. Cada departamento consta de tres habitaciones, servicios higiénicos propios y servicios básicos de agua y luz.</p>
                                    </div>
                                    <div class="tabs_image">
                                        <img src="{{ base_url() }}/uploads/2019/08/centros_ge_5.png">
                                        <div class="texto">
                                            El 29 de Abril de 1989, el local fue reconstruido y convertido en el Hogar para parejas matrimoniales, la Sagrada Familia, cuenta en la actualidad con 39 albergados, 15 mujeres y 24 varones.                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="content_btns_tabs">
                            <ul class="nav nav-tabs">
                                <li>
                                    <a class="btn btn_tab active " href="#valor_1" data-toggle="tab">
                                        Centro Esperanza Sagrada Familia                    </a>
                                </li>
                                <li>
                                    <a class="btn btn_tab" href="#valor_2" data-toggle="tab">
                                        Centro Esperanza Sagrado Corazón                    </a>
                                </li>
                                <li>
                                    <a class="btn btn_tab" href="#valor_3" data-toggle="tab">
                                        Centro Esperanza María Castaño                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>       
        </div>
        </section>

    </div>
{% endblock content %}