{% extends 'templates/app.twig' %}

{% block content %}

    <style>
        .mbottom{
            margin-bottom: 20px;
        }

    </style>
    <div class="centros_esperanza_maria_castano_sagrada_familia_y_sagrado_corazon"">
        <main>
            <div class="col-lg-12 section_landing">
                <div class="owl-carousel owl-theme owl_landing_top">
                    <div class="item_owl_landing_top">
                        <div class="col-lg-12 background_" style="background-image:url('{{ base_url() }}/images/canevaro/phc.jpg')">
                            <div class="ca_ content_item">
                                <!--<h2>Hogar Canevaro</h2>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <section id="contenido">
            <div class="col-lg-12 section_menu_tabs">

                <div class="col-md-3">
                    <div class="section_tab">
                        <div class="filtro menu content_btns_tabs">
                            <ul class="nav nav-tabs menu">
                                <li>
                                    <a class="btn btn_tab active " href="#inicio" data-toggle="tab">
                                        <i class="icon-home_landing"></i> Inicio
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn_tab" href="#testimonios" data-toggle="tab">
                                        <i class="icon-modalidad"></i> Testimonios
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn_tab" href="#historia" data-toggle="tab">
                                        <i class="icon-historia_bene"></i> Historia
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn_tab" href="#modalidad" data-toggle="tab">
                                        <i class="icon-modalidad"></i> Modalidad de Ingreso
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn_tab " href="#contacto" data-toggle="tab">
                                        <i class="icon-contacto_landing"></i> Contáctanos
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-md-9 san_vicente_de_paul hogar_canevaro">
                    <div class="section_content_ ">
                        <div class="section_content_tabs_flex">
                            <div class="content_tabs">
                                <div class="tab-content">

                                    <div class="tab-pane in active " id="inicio">

                                        <h3>Inicio <strong class="subtitle"> &nbsp;Hogar Canevaro, referente en el cuidado del adulto mayor</strong></h3>

                                        <div class="text">
                                            <div class="text_middle">

                                                    <p>Ignacia Rodulfo Vda. de Canevaro, busca ser más que una residencia. Es el hogar donde los abuelitos se sienten cómodos y seguros. Por eso, nuestros cuidados y atenciones se basan principalmente en el respeto a su dignidad e individualidad.</p>
                                                    <p>Ayudamos a nuestros protegidos en las pequeñas cosas del día a día, con mucho amor y atención. Nos centramos en el bienestar, cuidando sus costumbres y promoviendo sus hábitos; dándoles todo el cariño, respeto, comprensión y sensibilidad que merecen.</p>
                                                    <p>Tenemos un equipo multidisciplinario que reúne todos los conocimientos que un abuelito necesita.</p>

                                            </div>
                                        </div>

                                        <div class="col-lg-12 mbottom">
                                            <div class="carousel">
                                                <a class="owl_inicio_generales_left" onclick="owl_inicio_generales.trigger('prev.owl')">
                                                    <img src="{{ base_url() }}/img/icon/doble-left.png">
                                                </a>

                                                <a class="owl_inicio_generales_right" onclick="owl_inicio_generales.trigger('next.owl')">
                                                    <img src="{{ base_url() }}/img/icon/doble-right.png">
                                                </a>

                                                <div class="owl-carousel owl-theme owl_inicio_generales">
                                                    <div class="item_owl_inicio_generales" style="background-image:url('{{ base_url() }}/images/canevaro/1.jpg')" data-hash="mini1"></div>
                                                    <div class="item_owl_inicio_generales" style="background-image:url('{{ base_url() }}/images/canevaro/2.jpg')" data-hash="mini2"></div>
                                                    <div class="item_owl_inicio_generales" style="background-image:url('{{ base_url() }}/images/canevaro/3.jpg')" data-hash="mini3"></div>
                                                    <div class="item_owl_inicio_generales" style="background-image:url('{{ base_url() }}/images/canevaro/4.jpg')" data-hash="mini4"></div>
                                                </div>

                                                <div class="owl-carousel owl-theme owl_inicio_generales_mini">
                                                    <a href="#mini1">
                                                        <div class="item_owl_inicio_generales_mini" style="background-image:url('{{ base_url() }}/images/canevaro/1.jpg')"></div>
                                                    </a>

                                                    <a href="#mini2">
                                                        <div class="item_owl_inicio_generales_mini" style="background-image:url('{{ base_url() }}/images/canevaro/2.jpg')"></div>
                                                    </a>

                                                    <a href="#mini3">
                                                        <div class="item_owl_inicio_generales_mini" style="background-image:url('{{ base_url() }}/images/canevaro/3.jpg')"></div>
                                                    </a>

                                                    <a href="#mini4">
                                                        <div class="item_owl_inicio_generales_mini" style="background-image:url('{{ base_url() }}/images/canevaro/4.jpg')"></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-lg-12 content_landing_">
                                            <div class="text">
                                                Contamos con ambientes amplios y áreas de recreación adaptadas especialmente para ellos, garantizando su seguridad y confort, tales como:
                                            </div>
                                        </div>

                                        <div class="col-lg-12 content_landing_2">

                                            <div class="row">

                                                <div class="col-lg-6 content_landing_option2 ">
                                                    <p>&nbsp;</p>
                                                    <ul>
                                                        <li>Alimentación balanceada y soporte.</li>
                                                        <li>Atención médica y especializada programada.</li>
                                                        <li>Terapia física y rehabilitación.</li>
                                                        <li>Atención de enfermería las 24 horas.</li>
                                                    </ul>
                                                </div>

                                                <div class="col-lg-6 content_landing_option2 landing_img_">
                                                    <img src="{{ base_url() }}/uploads/2019/08/image-3.png">
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="testimonios">
                                        <h3>Testimonios <strong class="subtitle"> &nbsp;conoce estas historias</strong></h3>
                                                        <div class="container testimonios">
                                                            <div class="carousel">
                                                                <a class="owl_inicio_generales_left" onclick="owl_testimonios.trigger('prev.owl')">
                                                                    <img src="{{ base_url() }}/img/icon/doble-left.png">
                                                                </a>
                                                                <a class="owl_inicio_generales_right" onclick="owl_testimonios.trigger('next.owl')">
                                                                    <img src="{{ base_url() }}/img/icon/doble-right.png">
                                                                </a>
                                                                <div class="owl-carousel owl-theme owl_testimonios">
                                                                    <div class="item">
                                                                        <div class="imagen_testimonios">
                                                                            <img src="{{ base_url() }}/images/canevaro/testimonios/2.jpg" alt="Isabel Valeria Wiese Castillo (79 años)">
                                                                        </div>
                                                                        <div class="content_testimonios">
                                                                            <h4 style="padding-top:20px">Isabel Valeria Wiese Castillo (79 años)</h4>
                                                                            <div class="texto"><p>
                                                                                     Isabel nació el 28 de abril de 1940, ella es hija única. Su afición por el canto
                                                                                     y el ballet la hicieron inclinarse por las artes desde temprana edad. Estudió
                                                                                     música desde los 8 años y perteneció al Coro Femenino de Lima. Su ingreso
                                                                                     al Hogar Canevaro fue el 24 de setiembre de 1999. Llegó para contagiar,
                                                                                     con su fascinante alegría, las actividades que comparte junto a sus compañeros;
                                                                                     siempre tiene una canción que interpretar.
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div class="item">
                                                                        <div class="imagen_testimonios">
                                                                            <img src="{{ base_url() }}/images/canevaro/testimonios/3.jpg" alt="Luis Abelardo Lobatón (66 años)">
                                                                        </div>
                                                                        <div class="content_testimonios">
                                                                            <h4 style="padding-top:20px">Luis Abelardo Lobatón (66 años)</h4>
                                                                            <div class="texto"><p>Luis llegó al Hogar Canevaro el 25 de junio del 2018, él siempre
                                                                                    participa en todas las actividades que se realizan dentro del hogar y forma parte del
                                                                                    coro junto a otros residentes. Nació en Lima el 31 de diciembre de 1953, un trágico
                                                                                    accidente le impidió seguir trabajando en una automotriz y, pese a ello, nunca cambió
                                                                                    su extraordinario carácter; es de temperamento tranquilo, muy amigable y luchador.
                                                                                    Estas notables característica le han dado la fuerza para salir adelante y sobrepasar
                                                                                    cualquier barrera al lado de sus amigos del Hogar Canevaro.</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div class="item">
                                                                        <div class="imagen_testimonios">
                                                                            <img src="{{ base_url() }}/images/canevaro/testimonios/4.jpg" alt="Ana Mireya Landauro Chico (86 años)">
                                                                        </div>
                                                                        <div class="content_testimonios">
                                                                            <h4 style="padding-top:20px">Ana Mireya Landauro Chico (86 años)</h4>
                                                                            <div class="texto"><p>La ciudad de Trujillo la vio nacer el 11 de agosto de 1933,
                                                                                    desde muy joven su pasión por el arte la llevó a realizar algunos estudios en
                                                                                    la Escuela Nacional de Bellas Artes en Lima. Any también elaboró múltiples
                                                                                    trabajos artesanales. Ingresó al albergue el 03 de marzo del 2015 y desde
                                                                                    entonces demuestra su talento en la pintura, participando en varias exposiciones
                                                                                    con su trabajo. Tiene un trato amable y muy cordial con los demás residentes
                                                                                    y colaboradores del Hogar Canevaro. </p>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div class="item">
                                                                        <div class="imagen_testimonios">
                                                                            <img src="{{ base_url() }}/images/canevaro/testimonios/1.jpg" alt="María del Carmen Muñoz Torres (84 años)">
                                                                        </div>
                                                                        <div class="content_testimonios">
                                                                            <h4 style="padding-top:20px">María del Carmen Muñoz Torres (84 años)</h4>
                                                                            <div class="texto"><p>Gracias a su carácter alegre y cordial, cultivó muy buenos
                                                                                    amigos, los que la apoyaron en momentos difíciles de su vida. La popular
                                                                                    “Pecas”, como la llaman en el hogar, nació el 25 de febrero de 1935,
                                                                                    se desempeñó en labores domésticas y, posteriormente, ingresó al Hogar
                                                                                    Canevaro el 07 de julio del 2006. Participa en todas las actividades y en los
                                                                                    concursos de baile, sus predilectos; su especialidad es el mambo.</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                </div>

                                                                <div class="owl-carousel-custom-dots owl-theme owl_dots_content_inicio_generales" >

                                                                    <div class="owl-dots owl_dots_inicio_generales"></div>

                                                                </div>

                                                            </div>
                                                        </div>

                                    </div>

                                    <div class="tab-pane" id="historia">
                                        <h3>Historia <strong class="subtitle"> &nbsp;El legado de Ignacia Rodulfo Vda. de Canevaro</strong></h3>
                                        <div class="text">
                                            <p>El nombre se debe a su benefactora, la señora Ignacia Rodulfo Vda. de Canevaro, quien en abril de 1925, donó el terreno ubicado en el Paseo de Aguas en el distrito del Rímac.</p>
                                            <p>El Hogar Canevaro inició sus actividades un 27 de agosto de 1982, y desde entonces ofrece atención integral de forma continua con inmenso amor a los abuelitos que han sido abandonados por su familia, carecen de ella, o viven en riesgo socio-económico.</p>

                                        </div>

                                    </div>

                                    <div class="tab-pane" id="modalidad">
                                        <h3>Modalidad de Ingreso <strong class="subtitle"> &nbsp;Requisitos que se deben cumplir</strong></h3>
                                        <div class="col-lg-12 landing_requisitos_canevaro">
                                            <div class="landing_requisitos_canevaro_container">
                                                <div class="content_">
                                                    <div class="head">
                                                        <span><i class="far fa-file"></i></span>
                                                        Solicitud de documentos
                                                    </div>
                                                    <div class="body">
                                                        <div class="item">
                                                            <span>1</span>
                                                            <p>
                                                                Contar con DNI (copia).
                                                        </div>
                                                        <div class="item">
                                                            <span>2</span>
                                                            <p>
                                                                Deberá llenar el formato de solicitud brindado por la Beneficencia de Lima.
                                                            </p>
                                                        </div>
                                                        <div class="item">
                                                            <span>3</span>
                                                            <p>
                                                                Croquis del domicilio.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="content_2">

                                                    <div class="head">

                                                        <span><i class="fas fa-check"></i></span>
                                                        Requisitos Indispensables
                                                    </div>

                                                    <div class="body">

                                                        <div class="item">
                                                            <p>• La persona deberá documentar que vive en extrema pobreza.</p>
                                                        </div>

                                                        <div class="item">
                                                            <p>• No contar con familiares directos (hijos, hermanos y/o cónyugue).</p>
                                                        </div>

                                                        <div class="item">
                                                            <p>• No padecer enfermedades infecto-contagiosas.</p>
                                                        </div>

                                                        <div class="item">
                                                            <p>• No padecer trastornos psiquiátricos, de personalidad o dependencia mental.</p>
                                                        </div>

                                                        <div class="item">
                                                            <p>• No ser fármaco dependiente.</p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="tab-pane" id="contacto">
                                        <div class="row" >
                                            <h3>Contáctanos <strong class="subtitle"> &nbsp;Complete el siguiente formulario</strong></h3>
                                            <div class="col-md-8" >
                                                <div class="modal__purple">
                                                    <div class="formulario_inmuebles">

                                                        <form class="row" method="post" autccomplete="off" enctype="multipart/form-data"  autocomplete="off"   id="FormRegistro" name="FormRegistro">

                                                            <input type="hidden" name="categoria" id="categoria"  value="Hogar Canevaro">

                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                                <label class="label-nombres">Nombres</label>
                                                                <input type="text" name="nombres" id="nombres"
                                                                       data-content="Usted debe ingresar su nombre."
                                                                       class="form-control formulario obligate" onkeypress="return validaLetras(event)">
                                                            </div>
                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                                <label class="label-apellidos">Apellidos</label>
                                                                <input type="text" name="apellidos" id="apellidos"
                                                                       data-content="Usted debe ingresar sus apellidos."
                                                                       class="form-control formulario obligate" onkeypress="return validaLetras(event)">
                                                            </div>
                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                                <label class="label-apellidos">DNI</label>
                                                                <input type="text" name="dni" id="dni"
                                                                       data-content="Usted debe ingresar su DNI."
                                                                       class="form-control formulario obligate" onkeypress="return validaNumericos(event)">
                                                            </div>
                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                                <label class="label-email">Correo Electrónico</label>
                                                                <input type="email" name="correo"
                                                                       data-content="Usted debe ingresar su correo."
                                                                       id="correo" class="form-control formulario obligate">
                                                            </div>
                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                                <label class="label-telefono">Teléfono</label>
                                                                <input type="tel" name="telefono" id="telefono"
                                                                       data-content="Usted debe ingresar su teléfono."
                                                                       class="form-control formulario obligate" onkeypress="return validaNumericos(event)">
                                                            </div>
                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                                <label class="label-telefono">Dirección</label>
                                                                <input type="text" name="direccion" id="direccion"
                                                                       data-content="Usted debe ingresar su dirección."
                                                                       class="form-control formulario obligate">
                                                            </div>
                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                                <label class="label-telefono">Motivo</label>
                                                                <select name="motivo" id="motivo"
                                                                        data-content="Usted debe seleccionar un motivo."
                                                                        class="form-control formulario obligate" >
                                                                    <option value="">Seleccione el motivo de comunicación</option>
                                                                    <option value="Consulta">Consulta</option>
                                                                    <option value="Donación">Donación</option>
                                                                    <option value="Voluntariado">Voluntariado</option>
                                                                </select>
                                                            </div>

                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group" id="donacion" style="display:none">
                                                                <label class="label-telefono">¿Qué es lo quieres donar?</label>
                                                                <select name="tipodonacion" id="tipodonacion"
                                                                        data-content="Usted debe seleccionar el tipo de donación."
                                                                        class="form-control formulario">
                                                                    <option value="">Seleccione el tipo de donación</option>
                                                                    <option value="Bien">Bien</option>
                                                                    <option value="Dinero">Dinero</option>
                                                                </select>
                                                            </div>

                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group" id="voluntariado" style="display:none">
                                                                <label class="label-telefono">¿Cuánto tiempo quieres voluntario?</label>
                                                                <select name="tiempovoluntario" id="tiempovoluntario"
                                                                        data-content="Usted seleccionar el tiempo de voluntariado."
                                                                        class="form-control formulario">
                                                                    <option value="">Seleccione el tiempo de voluntariado</option>
                                                                    <option value="Permanente">Permanente</option>
                                                                    <option value="Eventual">Eventual</option>
                                                                </select>
                                                            </div>

                                                            <div class="col-lg-12 form-group">
                                                                <label class="label-telefono">Mensaje</label>
                                                                <textarea name="mensaje" id="mensaje"
                                                                          data-content="Usted debe ingresar un mensaje."
                                                                          class="form-control formulario obligate" rows="6"  placeholder="Escribe aquí tu mensaje"></textarea>
                                                            </div>

                                                            <div class="col-lg-12 form-group">
                                                                <div class="msg">
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-12 form-group registrarform" >
                                                                <button type="button" id="registrar" class="btn btn_default next_">ENVIAR</button>
                                                            </div>

                                                            {{ csrf.field | raw }}

                                                        </form>
                                                    </div>

                                                </div>
                                           </div>
                                                <div class="col-md-4" >
                                                    <div class="content_ banner2_landing_turismo">
                                                        <p>
                                                            <strong>Dirección:</strong> Jr. Madera Nº 399 - Rímac <br>
                                                            <!--<strong>Directora:</strong> Doris Huamán<br>
                                                            <strong>Teléfonos:</strong> 01 482 1101 / 01 482-1499<br>
                                                            <strong>Correo:</strong> dhuaman@beneficenciadelima.org<br>-->
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </section>

        <div class="modal fade" id="modalMensaje" tabindex="-1" role="dialog" aria-labelledby="modalMensaje">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Información</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        cargando contenido...espere un momento por favor
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#motivo').click(function () {
            if ($(this).val() == 'Consulta') {
                $("#donacion").css("display", "none");
                $("#voluntariado").css("display", "none");
                $("#tipodonacion").removeClass("obligate");
                $("#tiempovoluntario").removeClass("obligate");
                $("#tipodonacion").val("");
                $("#tiempovoluntario").val("");
            } else if ($(this).val() == 'Donación') {
                $("#donacion").css("display", "block");
                $("#voluntariado").css("display", "none");
                $("#tipodonacion").addClass("obligate");
                $("#tiempovoluntario").removeClass("obligate");
                $("#tiempovoluntario").val("");
            } else if ($(this).val() == 'Voluntariado') {
                $("#voluntariado").css("display", "block");
                $("#donacion").css("display", "none");
                $("#tiempovoluntario").addClass("obligate");
                $("#tipodonacion").removeClass("obligate");
                $("#tipodonacion").val("");
            } else {
                $("#donacion").css("display", "none");
                $("#voluntariado").css("display", "none");
                $("#tipodonacion").removeClass("obligate");
                $("#tiempovoluntario").removeClass("obligate");
                $("#tipodonacion").val("");
                $("#tiempovoluntario").val("");
            }
        });
    </script>
{% endblock content %}
