{% extends 'templates/app.twig' %}

{% block content %}

    <div class="centros_esperanza_maria_castano_sagrada_familia_y_sagrado_corazon">
        <main>
            <div class="col-lg-12 section_landing">
                <div class="owl-carousel owl-theme owl_landing_top">
                    <div class="item_owl_landing_top">
                        <div class="col-lg-12 background_" style="background-image:url('{{ base_url() }}/images/isevilla/pcs.jpg')">
                            <div class="ca_ content_item">
                                <!--<h2>Instituto Sevilla<br></h2>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <section id="contenido">
            <div class="col-lg-12 section_menu_tabs">

                <div class="col-md-3">
                    <div class="section_tab">
                        <div class="filtro menu content_btns_tabs">
                            <ul class="nav nav-tabs menu">
                                <li>
                                    <a class="btn btn_tab active " href="#inicio" data-toggle="tab">
                                        <i class="icon-home_landing"></i> Inicio
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn_tab" href="#historia" data-toggle="tab">
                                        <i class="icon-historia_bene"></i> Historia
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn_tab " href="#contacto" data-toggle="tab">
                                        <i class="icon-contacto_landing"></i> Contáctanos
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-md-9 san_vicente_de_paul hogar_canevaro">
                    <div class="section_content_ ">
                        <div class="section_content_tabs_flex">
                            <div class="content_tabs" style="width: 100%;">
                                <div class="tab-content">

                                    <div class="tab-pane in active " id="inicio">
                                        <div class="row" >
                                            <div class="col-md-9" >
                                                <h3>Inicio <strong class="subtitle"> &nbsp;Enseñanza de excelencia</strong></h3>
                                                <div class="text">
                                                    <div class="text_middle">
                                                        <div class="item" style="padding: 0;">
                                                            <p><strong>Tenemos la misión de brindar educación primaria y secundaria acorde a las exigencias estudiantiles de la actualidad, a un costo mínimo y de calidad. </strong></p>
                                                            <p>El Instituto Sevilla, cuenta con docentes especialmente capacitados, como todo educador de una institución nacional o privada.</p>
                                                            <p>Nuestras alumnas se desenvuelven con ética, integridad y principios; valores que les permitirán actuar como ciudadanas de bien dentro de nuestra sociedad.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="carousel">
                                                    <a class="owl_inicio_generales_left" onclick="owl_inicio_generales.trigger('prev.owl')">
                                                        <img src="{{ base_url() }}/img/icon/doble-left.png">
                                                    </a>
                                                    <a class="owl_inicio_generales_right" onclick="owl_inicio_generales.trigger('next.owl')">
                                                        <img src="{{ base_url() }}/img/icon/doble-right.png">
                                                    </a>

                                                    <div class="owl-carousel owl-theme owl_inicio_generales">
                                                        <div class="item_owl_inicio_generales" style="background-image:url('{{ base_url() }}/images/isevilla/1.jpg')" data-hash="mini1"></div>
                                                        <div class="item_owl_inicio_generales" style="background-image:url('{{ base_url() }}/images/isevilla/2.jpg')" data-hash="mini2"></div>
                                                        <div class="item_owl_inicio_generales" style="background-image:url('{{ base_url() }}/images/isevilla/3.jpg')" data-hash="mini3"></div>
                                                    </div>

                                                    <div class="owl-carousel owl-theme owl_inicio_generales_mini">

                                                        <a href="#mini1">
                                                            <div class="item_owl_inicio_generales_mini" style="background-image:url('{{ base_url() }}/images/isevilla/1.jpg')"></div>
                                                        </a>

                                                        <a href="#mini2">
                                                            <div class="item_owl_inicio_generales_mini" style="background-image:url('{{ base_url() }}/images/isevilla/2.jpg')"></div>
                                                        </a>

                                                        <a href="#mini3">
                                                            <div class="item_owl_inicio_generales_mini" style="background-image:url('{{ base_url() }}/images/isevilla/3.jpg')"></div>
                                                        </a>
                                                    </div>

                                                    <div class="owl-carousel-custom-dots owl-theme owl_dots_content_inicio_generales" >
                                                        <div class="owl-dots owl_dots_inicio_generales"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3" >
                                                <div class="section_sidebar_" style="width:100%">
                                                    <div class="content_">
                                                        <h4><strong>El objetivo de la institución es la educación</strong> </h4>
                                                        <p>Este centro, es administrado por la Beneficencia de Lima y mantiene su local original ubicado en el distrito del Rímac. Este inmueble, es declarado Monumento Histórico del país desde el 12 de enero de 1989.</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="tab-pane" id="historia">
                                        <h3>Historia <strong class="subtitle"> &nbsp;Más de un siglo ofreciendo educación de calidad</strong></h3>
                                        <div class="text">
                                            <p>Fundado en 1891 gracias al legado que dejó Don José Del Carmen Sevilla, el Instituto Sevilla, fue creado como un Instituto Educativo para el bienestar de niñas y adolescentes de familias pobres en la Lima antigua. Abrió sus puertas bajo la conducción de la Orden Salesiana, quienes en sus inicios enseñaron manualidades y labores para el hogar.</p>
                                            <p>El Instituto Sevilla, tiene CXXVII años de vida institucional, comenzó a funcionar el 26 de Diciembre de 1892 bajo el manejo de las hermanas salesianas, el 17 de diciembre de 1898, las religiosas de la Congregación del Buen Pastor se hacen cargo de la dirección del Instituto Sevilla.</p>
                                            <p>Posteriormente pasó a ser regentado por la Congregación de las Religiosas de Nuestra Señora de la Caridad del Buen Pastor y actualmente está bajo la administración de nuestra institución en coordinación con la Unidad de Gestión Educativa Local (UGEL) del Rímac. Con el tiempo dejó de ser internado, cuando las religiosas dejaron la administración, para convertirse en externado. Actualmente, las alumnas reciben una educación personalizada, que desarrolla la conciencia crítica y un espíritu transformador de la sociedad.</p>
                                        </div>
                                    </div>


                                    <div class="tab-pane" id="contacto">
                                        <div class="row" >
                                            <h3>Contáctanos <strong class="subtitle"> &nbsp;Complete el siguiente formulario</strong></h3>
                                            <div class="col-md-8" >
                                                <div class="modal__purple">
                                                    <div class="formulario_inmuebles">

                                                                        <form class="row" method="post" autccomplete="off" enctype="multipart/form-data"  autocomplete="off"   id="FormRegistro" name="FormRegistro">

                                                                            <input type="hidden" name="categoria" id="categoria"  value="Instituto Sevilla">

                                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                                                <label class="label-nombres">Nombres</label>
                                                                                <input type="text" name="nombres" id="nombres"
                                                                                       data-content="Usted debe ingresar su nombre."
                                                                                       class="form-control formulario obligate" onkeypress="return validaLetras(event)">
                                                                            </div>
                                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                                                <label class="label-apellidos">Apellidos</label>
                                                                                <input type="text" name="apellidos" id="apellidos"
                                                                                       data-content="Usted debe ingresar sus apellidos."
                                                                                       class="form-control formulario obligate" onkeypress="return validaLetras(event)">
                                                                            </div>
                                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                                                <label class="label-apellidos">DNI</label>
                                                                                <input type="text" name="dni" id="dni"
                                                                                       data-content="Usted debe ingresar su DNI."
                                                                                       class="form-control formulario obligate" onkeypress="return validaNumericos(event)">
                                                                            </div>
                                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                                                <label class="label-email">Correo Electrónico</label>
                                                                                <input type="email" name="correo"
                                                                                       data-content="Usted debe ingresar su correo."
                                                                                       id="correo" class="form-control formulario obligate">
                                                                            </div>
                                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                                                <label class="label-telefono">Teléfono</label>
                                                                                <input type="tel" name="telefono" id="telefono"
                                                                                       data-content="Usted debe ingresar su teléfono."
                                                                                       class="form-control formulario obligate" onkeypress="return validaNumericos(event)">
                                                                            </div>
                                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                                                <label class="label-telefono">Dirección</label>
                                                                                <input type="text" name="direccion" id="direccion"
                                                                                       data-content="Usted debe ingresar su dirección."
                                                                                       class="form-control formulario obligate">
                                                                            </div>
                                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                                                <label class="label-telefono">Motivo</label>
                                                                                <select name="motivo" id="motivo"
                                                                                        data-content="Usted debe seleccionar un motivo."
                                                                                        class="form-control formulario obligate" >
                                                                                    <option value="">Seleccione el motivo de comunicación</option>
                                                                                    <option value="Consulta">Consulta</option>
                                                                                    <option value="Donación">Donación</option>
                                                                                    <option value="Voluntariado">Voluntariado</option>
                                                                                </select>
                                                                            </div>

                                                                             <div class="col-lg-6 col-md-12 col-sm-12 form-group" id="donacion" style="display:none">
                                                                                <label class="label-telefono">¿Qué es lo quieres donar?</label>
                                                                                <select name="tipodonacion" id="tipodonacion"
                                                                                        data-content="Usted debe seleccionar el tipo de donación."
                                                                                        class="form-control formulario">
                                                                                    <option value="">Seleccione el tipo de donación</option>
                                                                                    <option value="Bien">Bien</option>
                                                                                    <option value="Dinero">Dinero</option>
                                                                                </select>
                                                                            </div>

                                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group" id="voluntariado" style="display:none">
                                                                                <label class="label-telefono">¿Cuánto tiempo quieres voluntario?</label>
                                                                                <select name="tiempovoluntario" id="tiempovoluntario"
                                                                                        data-content="Usted seleccionar el tiempo de voluntariado."
                                                                                        class="form-control formulario">
                                                                                    <option value="">Seleccione el tiempo de voluntariado</option>
                                                                                    <option value="Permanente">Permanente</option>
                                                                                    <option value="Eventual">Eventual</option>
                                                                                </select>
                                                                            </div>

                                                                            <div class="col-lg-12 form-group">
                                                                                <label class="label-telefono">Mensaje</label>
                                                                                <textarea name="mensaje" id="mensaje"
                                                                                          data-content="Usted debe ingresar un mensaje."
                                                                                          class="form-control formulario obligate" rows="6"  placeholder="Escribe aquí tu mensaje"></textarea>
                                                                            </div>

                                                                             <div class="col-lg-12 form-group">
                                                                                <div class="msg">
                                                                                </div>
                                                                                </div>

                                                                            <div class="col-lg-12 form-group registrarform" >
                                                                                <button type="button" id="registrar" class="btn btn_default next_">ENVIAR</button>
                                                                            </div>

                                                                             {{ csrf.field | raw }}

                                                                        </form>
                                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-4" >
                                                <div class="content_ banner2_landing_turismo">
                                                    <p>
													    <strong>Dirección:</strong> Jr. Manco Cápac 162, Rímac<br>
                                                        <!--<strong>Directora: </strong> Gloria Palomino Lovera<br>
                                                        <strong>Teléfonos:</strong> 01 461 6144<br>
                                                        <strong>Correo:</strong> gpalomino@beneficenciadelima.org<br>-->
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>


    <div class="modal fade" id="modalMensaje" tabindex="-1" role="dialog" aria-labelledby="modalMensaje">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title">Información</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <div class="modal-body">
                    cargando contenido...espere un momento por favor
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</div>

 <script>
               $('#motivo').click(function () {
              if ($(this).val() == 'Consulta') {
                  $("#donacion").css("display", "none");
                  $("#voluntariado").css("display", "none");
                  $("#tipodonacion").removeClass("obligate");
                  $("#tiempovoluntario").removeClass("obligate");
                  $("#tipodonacion").val("");
                  $("#tiempovoluntario").val("");
              } else if ($(this).val() == 'Donación') {
                  $("#donacion").css("display", "block");
                  $("#voluntariado").css("display", "none");
                  $("#tipodonacion").addClass("obligate");
                  $("#tiempovoluntario").removeClass("obligate");
                  $("#tiempovoluntario").val("");
              }  else if ($(this).val() == 'Voluntariado') {
                  $("#voluntariado").css("display", "block");
                  $("#donacion").css("display", "none");
                  $("#tiempovoluntario").addClass("obligate");
                  $("#tipodonacion").removeClass("obligate");
                  $("#tipodonacion").val("");
              }else {
                  $("#donacion").css("display", "none");
                  $("#voluntariado").css("display", "none");
                  $("#tipodonacion").removeClass("obligate");
                  $("#tiempovoluntario").removeClass("obligate");
                  $("#tipodonacion").val("");
                  $("#tiempovoluntario").val("");
              }
          });
    </script>
{% endblock content %}
