{% extends 'templates/app.twig' %}

{% block content %}
    <div class="centros_esperanza_maria_castano_sagrada_familia_y_sagrado_corazon">
        <main>
            <div class="col-lg-12 section_landing">
                <div class="owl-carousel owl-theme owl_landing_top">
                    <div class="item_owl_landing_top">
                        <div class="col-lg-12 background_" style="background-image:url('{{ base_url() }}/images/svp/phogarsvp.jpg')">
                            <div class="ca_ content_item">
                                <!--<h2>Hogar San Vicente de Paúl<br></h2>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <section id="contenido">
            <div class="col-lg-12 section_menu_tabs">

                <div class="col-md-3">
                    <div class="section_tab">
                        <div class="filtro menu content_btns_tabs">
                            <ul class="nav nav-tabs menu">
                                <li>
                                    <a class="btn btn_tab active " href="#inicio" data-toggle="tab">
                                        <i class="icon-home_landing"></i> Inicio
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn_tab" href="#historia" data-toggle="tab">
                                        <i class="icon-historia_bene"></i> Historia
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn_tab" href="#modalidad" data-toggle="tab">
                                        <i class="icon-modalidad"></i> Modalidad de Ingreso
                                    </a>
                                </li>
                                <li>
                                    <a class="btn btn_tab " href="#contacto" data-toggle="tab">
                                        <i class="icon-contacto_landing"></i> Contáctanos
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 san_vicente_de_paul hogar_canevaro">
                    <div class="section_content_ ">
                        <div class="section_content_tabs_flex">
                            <div class="content_tabs">
                                <div class="tab-content">

                                    <div class="tab-pane in active " id="inicio">

                                        <h3>Inicio <strong class="subtitle"> &nbsp;San Vicente de Paúl, símbolo de vida</strong></h3>
                                        <div class="text">
                                            <div class="text_middle">
                                                    <p>En este hogar de abuelitos, construimos una vejez digna para quienes nada, ni a nadie tienen. Conservamos una asistencia personalizada y acogedora, incluyendo especiales cuidados asistenciales, una alimentación balanceada y nutritiva; además de cubrirlos con inmenso amor y regocijo.</p>
                                                    <p>Nuestro propósito, es darle la mejor calidad de vida a aquellos que tienen dependencia física y mental; los que se hallan en estado crítico de abandono y riesgo social.</p>
                                                    <p>Contamos con personal altamente capacitado para asistir a nuestros adultos mayores en sus tratamientos y frecuentes dolencias.</p>
                                                    <p>El compromiso de los colaboradores que cuidan amorosamente a nuestros albergados, logra que ellos se sientan:</p>
                                                    <p>&#8211; Seguros.<br />
                                                        &#8211; Con autoestima.<br />
                                                        &#8211; Tranquilos de poder vivir en un ambiente confortable.</p>
                                            </div>
                                        </div>

                                        <div class="carousel">
                                            <a class="owl_inicio_generales_left" onclick="owl_inicio_generales.trigger('prev.owl')">
                                                <img src="{{ base_url() }}/img/icon/doble-left.png">
                                            </a>

                                            <a class="owl_inicio_generales_right" onclick="owl_inicio_generales.trigger('next.owl')">
                                                <img src="{{ base_url() }}/img/icon/doble-right.png">
                                            </a>

                                            <div class="owl-carousel owl-theme owl_inicio_generales">
                                                <div class="item_owl_inicio_generales" style="background-image:url('{{ base_url() }}/images/svp/1.jpg')" data-hash="mini1"></div>
                                                <div class="item_owl_inicio_generales" style="background-image:url('{{ base_url() }}/images/svp/2.jpg')" data-hash="mini2"></div>
                                                <div class="item_owl_inicio_generales" style="background-image:url('{{ base_url() }}/images/svp/3.jpg')" data-hash="mini3"></div>
                                                <div class="item_owl_inicio_generales" style="background-image:url('{{ base_url() }}/images/svp/4.jpg')" data-hash="mini4"></div>
                                            </div>

                                            <div class="owl-carousel owl-theme owl_inicio_generales_mini">
                                                <a href="#mini1">
                                                    <div class="item_owl_inicio_generales_mini" style="background-image:url('{{ base_url() }}/images/svp/1.jpg')"></div>
                                                </a>

                                                <a href="#mini2">
                                                    <div class="item_owl_inicio_generales_mini" style="background-image:url('{{ base_url() }}/images/svp/2.jpg')"></div>
                                                </a>

                                                <a href="#mini3">
                                                    <div class="item_owl_inicio_generales_mini" style="background-image:url('{{ base_url() }}/images/svp/3.jpg')"></div>
                                                </a>

                                                <a href="#mini4">
                                                    <div class="item_owl_inicio_generales_mini" style="background-image:url('{{ base_url() }}/images/svp/4.jpg')"></div>
                                                </a>
                                            </div>

                                            <div class="owl-carousel-custom-dots owl-theme owl_dots_content_inicio_generales" >
                                                <div class="owl-dots owl_dots_inicio_generales"></div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="tab-pane" id="historia">
                                        <div class="row" >
                                            <div class="col-md-8" >
                                                <h3>Historia <strong class="subtitle"> &nbsp;Un hogar para los adultos mayores</strong></h3>
                                                <div class="text">
                                                    <p>El actual Hogar San Vicente de Paúl nace el 30 de diciembre de 1922, como un hospicio para albergar personas con enfermedades terminales. La iniciativa fue del filántropo Augusto Pérez Araníbar, quien en esa época tenía el cargo de Presidente de la Beneficencia de Lima.</p>
                                                    <p>Un año después, durante el gobierno de Augusto B. Leguía, se inició la implementación del albergue para recibir a sus huéspedes, personas que vivían de la caridad e indigencia absoluta en las calles de Lima.</p>
                                                    <p>En el año 1950 se amplió el local de Barrios Altos, a casi el doble de su tamaño original, con lo cual creció de 1.122 mt2 a 2.122mt2.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4" >
                                                <div class="section_sidebar_" style="width: 100%;">
                                                    <div class="content_">
                                                        <h4><strong>El objetivo de la institución es</strong> lograr el bienestar físico</h4>
                                                        <p>Actualmente se atiende a 131 personas, en su mayoría dependientes totales que requieren de asistencia para cubrir sus actividades diarias como alimentarse, vestirse y movilizarse. Además, todos los albergados participan de los programas de terapias ocupacionales y de rehabilitación.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="tab-pane" id="modalidad">
                                        <h3>Modalidad de Ingreso <strong class="subtitle"> &nbsp;Requisitos que se deben cumplir</strong></h3>
                                        <div class="text">
                                            <p>Se puede ingresar a partir de los <strong>60 años</strong> de edad a más.</p>
                                        </div>
                                        <section>
                                            <div class="col-lg-12 section_landing_turismo">
                                                <div class="row">
                                                    <div class="col-lg-12 landing_requisitos_canevaro">
                                                        <div class="landing_requisitos_canevaro_container" style="margin-top: 0;">
                                                            <div class="content_">
                                                                <div class="head">  <span><i class="far fa-file"></i></span>  Solicitud de documentos </div>
                                                                <div class="body">
                                                                    <div class="item">
                                                                        <span>1</span>
                                                                        <p>  Contar con DNI (copia).    </p>
                                                                    </div>
                                                                    <div class="item">
                                                                        <span>2</span>
                                                                        <p>  Deberá llenar el formato de solicitud brindado por la Beneficencia de Lima.    </p>
                                                                    </div>
                                                                    <div class="item">
                                                                        <span>3</span>
                                                                        <p>  Croquis del domicilio.    </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="content_2">
                                                                <div class="head">  <span><i class="fas fa-check"></i></span>  Requisitos verificables </div>
                                                                <div class="body">
                                                                    <div class="item">
                                                                        <p>&bull; La persona deberá documentar que vive en extrema pobreza.</p>
                                                                    </div>
                                                                    <div class="item">
                                                                        <p>&bull; No contar con familiares directos (hijos, hermanos y/o cónyuge).</p>
                                                                    </div>
                                                                    <div class="item">
                                                                        <p>&bull; No padecer enfermedades infecto-contagiosas.</p>
                                                                    </div>
                                                                    <div class="item">
                                                                        <p>&bull; No padecer trastornos psiquiátricos, de personalidad o dependencia mental.</p>
                                                                    </div>
                                                                    <div class="item">
                                                                        <p>&bull; No ser fármaco dependiente.<br />• Demostrar ser parcial o totalmente físico-dependiente.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>

                                    <div class="tab-pane" id="contacto">
                                        <div class="row" >
                                            <h3>Contáctanos <strong class="subtitle"> &nbsp;Complete el siguiente formulario</strong></h3>
                                            <div class="col-md-8" >
                                                <div class="modal__purple">
                                                    <div class="formulario_inmuebles">

                                                        <form class="row" method="post" autccomplete="off" enctype="multipart/form-data"  autocomplete="off"   id="FormRegistro" name="FormRegistro">

                                                            <input type="hidden" name="categoria" id="categoria"  value="Hogar San Vicente de Paúl">

                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                                <label class="label-nombres">Nombres</label>
                                                                <input type="text" name="nombres" id="nombres"
                                                                       data-content="Usted debe ingresar su nombre."
                                                                       class="form-control formulario obligate" onkeypress="return validaLetras(event)">
                                                            </div>
                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                                <label class="label-apellidos">Apellidos</label>
                                                                <input type="text" name="apellidos" id="apellidos"
                                                                       data-content="Usted debe ingresar sus apellidos."
                                                                       class="form-control formulario obligate" onkeypress="return validaLetras(event)">
                                                            </div>
                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                                <label class="label-apellidos">DNI</label>
                                                                <input type="text" name="dni" id="dni"
                                                                       data-content="Usted debe ingresar su DNI."
                                                                       class="form-control formulario obligate" onkeypress="return validaNumericos(event)">
                                                            </div>
                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                                <label class="label-email">Correo Electrónico</label>
                                                                <input type="email" name="correo"
                                                                       data-content="Usted debe ingresar su correo."
                                                                       id="correo" class="form-control formulario obligate">
                                                            </div>
                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                                <label class="label-telefono">Teléfono</label>
                                                                <input type="tel" name="telefono" id="telefono"
                                                                       data-content="Usted debe ingresar su teléfono."
                                                                       class="form-control formulario obligate" onkeypress="return validaNumericos(event)">
                                                            </div>
                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                                <label class="label-telefono">Dirección</label>
                                                                <input type="text" name="direccion" id="direccion"
                                                                       data-content="Usted debe ingresar su dirección."
                                                                       class="form-control formulario obligate">
                                                            </div>
                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                                                <label class="label-telefono">Motivo</label>
                                                                <select name="motivo" id="motivo"
                                                                        data-content="Usted debe seleccionar un motivo."
                                                                        class="form-control formulario obligate" >
                                                                    <option value="">Seleccione el motivo de comunicación</option>
                                                                    <option value="Consulta">Consulta</option>
                                                                    <option value="Donación">Donación</option>
                                                                    <option value="Voluntariado">Voluntariado</option>
                                                                </select>
                                                            </div>

                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group" id="donacion" style="display:none">
                                                                <label class="label-telefono">¿Qué es lo quieres donar?</label>
                                                                <select name="tipodonacion" id="tipodonacion"
                                                                        data-content="Usted debe seleccionar el tipo de donación."
                                                                        class="form-control formulario">
                                                                    <option value="">Seleccione el tipo de donación</option>
                                                                    <option value="Bien">Bien</option>
                                                                    <option value="Dinero">Dinero</option>
                                                                </select>
                                                            </div>

                                                            <div class="col-lg-6 col-md-12 col-sm-12 form-group" id="voluntariado" style="display:none">
                                                                <label class="label-telefono">¿Cuánto tiempo quieres voluntario?</label>
                                                                <select name="tiempovoluntario" id="tiempovoluntario"
                                                                        data-content="Usted seleccionar el tiempo de voluntariado."
                                                                        class="form-control formulario">
                                                                    <option value="">Seleccione el tiempo de voluntariado</option>
                                                                    <option value="Permanente">Permanente</option>
                                                                    <option value="Eventual">Eventual</option>
                                                                </select>
                                                            </div>

                                                            <div class="col-lg-12 form-group">
                                                                <label class="label-telefono">Mensaje</label>
                                                                <textarea name="mensaje" id="mensaje"
                                                                          data-content="Usted debe ingresar un mensaje."
                                                                          class="form-control formulario obligate" rows="6"  placeholder="Escribe aquí tu mensaje"></textarea>
                                                            </div>

                                                            <div class="col-lg-12 form-group">
                                                                <div class="msg">
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-12 form-group registrarform" >
                                                                <button type="button" id="registrar" class="btn btn_default next_">ENVIAR</button>
                                                            </div>

                                                            {{ csrf.field | raw }}

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4" >
                                                <div class="content_ banner2_landing_turismo">
                                                    <p>
                                                        <strong>Dirección:</strong> Jr. Ancash Nº 1595 - Cercado de Lima<br>
                                                        <!--<strong>Directora: </strong> Tania Paredes<br>
                                                        <strong>Teléfonos:</strong> 01 328 0262<br>
                                                        <strong>Correo:</strong> tparedes@beneficenciadelima.org<br>-->
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>




    </div>
</section>

<div class="modal fade" id="modalMensaje" tabindex="-1" role="dialog" aria-labelledby="modalMensaje">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Información</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                cargando contenido...espere un momento por favor
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    $('#motivo').click(function () {
        if ($(this).val() == 'Consulta') {
            $("#donacion").css("display", "none");
            $("#voluntariado").css("display", "none");
            $("#tipodonacion").removeClass("obligate");
            $("#tiempovoluntario").removeClass("obligate");
            $("#tipodonacion").val("");
            $("#tiempovoluntario").val("");
        } else if ($(this).val() == 'Donación') {
            $("#donacion").css("display", "block");
            $("#voluntariado").css("display", "none");
            $("#tipodonacion").addClass("obligate");
            $("#tiempovoluntario").removeClass("obligate");
            $("#tiempovoluntario").val("");
        } else if ($(this).val() == 'Voluntariado') {
            $("#voluntariado").css("display", "block");
            $("#donacion").css("display", "none");
            $("#tiempovoluntario").addClass("obligate");
            $("#tipodonacion").removeClass("obligate");
            $("#tipodonacion").val("");
        } else {
            $("#donacion").css("display", "none");
            $("#voluntariado").css("display", "none");
            $("#tipodonacion").removeClass("obligate");
            $("#tiempovoluntario").removeClass("obligate");
            $("#tipodonacion").val("");
            $("#tiempovoluntario").val("");
        }
    });
</script>

{% endblock content %}
