{% extends 'templates/app.twig' %}


{% block content %}
    <div class="se_parte_del_cambio">
        <main>
            <div class="col-lg-12 section_noticias_banner background_" style="background-image:url({{ base_url() }}/uploads/2019/08/partedelcambio_banner.png)">            
                <div class="ca_ content_item">
                    <h2>Línea B</h2>
                </div>
            </div>
        </main>

        <section id="contenido">
            <div class="col-lg-12 section_partedelcambio">
                <div class="section_partedelcambio_container">
                    <div class="section_tab">
                        <div class="filtro">
                            <ul id="voluntariado-menu">
                                <li class="convenios active "><a href="{{ base_url() }}/se-parte-del-cambio/convenios/#contenido" ><i class="fas fa-scroll"></i>Linea B</a></li>
                                <li class="se-parte-del-cambio  "><a href="{{ base_url() }}/se-parte-del-cambio/voluntariado/#contenido" ><i class="fas fa-balance-scale"></i>Voluntariado</a></li>
                                <li class="donaciones  "><a href="{{ base_url() }}/se-parte-del-cambio/donaciones/#contenido" ><i class="fas fa-hand-holding-heart"></i>Donaciones</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="section_content">
                        <h3>Línea B <strong class="subtitle"></strong></h3>
                        <div class="content_parte_delcambio">
                            <p><!--(figmeta)eyJmaWxlS2V5IjoiRUhTSnp2QjVCQ2psMDkyWWFUcGJhak9ZIiwicGFzdGVJRCI6ODIyMjI2OTEyLCJkYXRhVHlwZSI6InNjZW5lIn0K(/figmeta)--><!--(figma)ZmlnLWtpd2kBAAAAMxoAALVa95vjyHHtBjlxw+2dTqdTzjnt7WVlDAgOOUsSOADk7J4CD0NiZnDLISiCM7tzyrKcZOVoK1mSZUVbOVvZQQ4KVrBkOcf/w+91AwRm5z795v2+na6qLrzurq6uru5m3I7SNNyJgsNJJMSpDafZ6fuB6QUC/zpOze5bDbOzbvtgZde3vRJvKG27UwNd8ZvrHbMFquoHF1s2iAVF9H2bWItKVyH3/fNNt+/ZLcfkl0sdJ2jWL/b9htNt1fpdd90za/x+OSP7NadDfiXnPbvu2X4DolXfsjt2H2K30b+ra3sXITxRFnq226LwpHklTtHlC6AFBdIcDDB0iDzbrPWdjlITitn0mgFblJ1kGLm7YRpBzUJVYLPHUGo7PUXKzXg8jMc73v6IOh2nc7ftOagQTk3VE0Hb9lpU2hCJmmN123aHVpGW2emZPihj3XO6LohK3TPb1KuuOU7LNjt9x7U9M2g6HQgXerYVOB6oRdoS5VKrqWCX7Var6fokVzwoYZLULKx69nq3ZXp912ldXFcgJ9BUp2bXYJxC72RgX2CXTvmtpkXBaf9ie83hjF7T7KCxjpKeWRtF42EboxLiAa7p+/2gAbh1zgb8xWsrH5A10ztvsy2j3W0FTT0HFXYVPVnreqyqWk7LmXMLreZ6I1DfLPqwtaLU4PBFzamt2+CX9Sc5u4JZ8FomsVd9px70FQa4Ew3Tq825k7VmvW57th7BKfuC1er62p6nG13KrvHNoDs38hnVCohrW912s+P4zYBNXOeG8XimJ3PJd1pNTrCAm9WamE20xq5CIucilsoemF2QFMHcnA3IKnMZlNqOWkXVZttUI1uAh200QSw297A6/UE4irTRsbw8O7CUvetNDk/Wmy3VSNBUM1mxt7ejQdbRarPTwaL1G2bN2USlqHmOW7Cy7sA/MIGdWn+t1WW/jDXTOn9UVAmiKzNLLYNFx2uuN/VKF10XrolStpxNRaALge6DD0do9S3TpXNXC65fdzxLLZ0FgtaiQTINZ3Eyxjf5AkHLmFaYE7TEcJvn7cLJjM7+3lY07Y7jWYpvPJPDEG7zgt3yQUj0CMufdjGsZJzOpqVJw2RCLlivuivbJuOBgTYyk1Z8y1QDqNaBWOvrLxYyRmkv+rNpcikyR/HOGB/MwQRWSVMFLul0g4w0tLIVToCSjw9DUbMt/bu6pkeRYXqes6lciIOoaNa+q9tsIeZ4ytpVDbWRxGy2jQilWl2zezarZY5qrCXJKArHziTKLVvtdrRno4/4zMeyBy397lrgmYo2LiiHVxOtRtZIpvF9yXgWjvB5y65TqWQ4OIFaWsZG10f0bqoZLb7uRdNZDJ+lzHFRVfp0zQkCpw3KaCf7aWTtT9Nkismp2XUTsQIVwvIcHy7a9EBL+6JNn8W8gjOw+aimXBNDQeyw4Bvgq66KFwsorGYL1GIPSyCZtuPplOhz38L6U/MrFYHliDBhd9YDTr5RC9NdvcoMC8EUIlG4hlQrUXtS1e2sQyQ2XJul9HssDLdWR1Gxr0yS6exq76tYDkyATucuJnLBZrOm2pe5oGHn5m2Fh8n+bH0aDzVIVTtkyZxFBw3tn5XiGzeczaLpGFXQarrKtxCwVOCSarL2Z4kXpfF9gJ6bSHVHWWbeDzmn4NCHo8iPskHB4J7vZOEgsE3Oq7TgE3qGsU9jV+5YDJ+VwG67jmeqPRrOrGFgpVk0N9GxqApS5jERTYeDS3p+5p1tIB7dDbOpHkhsB0ET5gWttZU3Qv2Y2bSttJKV7KMT00z3uIlz3bmlK+qzjf10Fm8f/rovXNOy+1igOrnQn/nK2oYKKRAimfCbd9v9wOln4RwmGcN5sXK1VeZxAx5ve7B1n3kZeNn11EjXELBRVqyWo/b/apPDCUsQq06nD49WasKsA6YfNNs24hR42XaQ2PXVGAxN64oKvmpwiwVd1RXYNai2oDmVsCxCy8Ug6FzI5VRXl2ueyRWxEkzDcRoXHXkwgiRSiaCPwINwmW24otb0MfU9G6SsI8VDaSAPQa5X95w2VqiKP5WSKA9A1ZJMh5qFkmQeaxbdrt/QsgxsqZDkWMuFSEOtFII50ipTPy3LkE4UkhzpZCHSSKcKwRzptO4obA2lHOyaI8Ic78wRqYa89ohsjnqdaimTZqAPKMtyzOvLQg35wLJojngD1l/T6rMO3IOwlyOHNztYlipJvtEOU2TAen4rSPKt7lrTQoUgUM5I5FEl1vAH02Q0qsVT7emYyMx1fs2KRo/06lPfYpnM6OTREMtqFqHevuAiaulVZQGBe5vi5HoXYUUaKRJ+NAZ6SchRgg1KkUgURtgkZHUqVoTcwR9jC38qIf5U9T6Cj6+Ak4f4Y3gQQbsQXMafyi7+VBWSP0sm+GBAWgRCThK9BKBgtMPZNL4i5OLe2bPg5d7Zm1AYe2fPoajs3URhde8mChf2bqJw0Q2niJDN8TDCd8bOfjwUXgn0RJ4SofIgHO1H+Ebuq/ToRoQZWKkT7kVCVrbDvXh0CH2ZMviCMAAySwfTeDIDV6FuL5zGIT7Z34um8aAe7+xPYVqE2yyzF8hRmmrzk06rpk54oFUzRz/1J+EAbnHkWxf7uIP5zDYMGZhrWTJ8PwB1Ti4HWEZAqowzjKKx8yHuqfktf22FkxSru/gE/qrSY4minzOGayNVZdcrEPTnHDMly1RRdAEiDHYd5GIJ383tXu4WMin8RUKF7RCEgdxLBbx6FM6UAf9Xush+USWscy4XAE5+qhXDcn3KK2wNpeoAyoXsHLnoNztMKpYcr9ZBuWzWPdav1Dpqca52um02eQKHHRPlSYR5dvlUTZenG7q8Bgk1yzOmqXKsay1dXudZqnyAr/nrvZ46jj2QCw/lDf6mOmk/yPI3Wd4I41P+YMtqs98P8fWW+NBG06f8YdzMUD7c8Trs3yOaeiE/EvGeU/WoWqDy9EfXWybH8Zj2usdd6bE+fAnl485ji0P5+DrSEJRPaOjyiQ3d7pMCzT/5Ll0+xdXlU5mIonxaq75G/umOq8pneIEqn+nq78+65zu0000thAeU51Cynzd7QYv8LSjJ32queT2Ut5lrPfK3o2S/7+hpnDt76BDKZ621Njk/z0ZJveegpN5zzfMNjuN51oZKsJ9v1ZWjv8ByFW9aXY96a9j6yFsIXixrdY1v13HIQllHeQ7lOsqbUTbQLNtroiT+RkOPB62tsz+thrNBv0FKorKJThMbK0pnw739DpTuhnsHce7acO88i9LbcM/egtJvbbT5XdByLOp3EeU5L722XeM5dBMl+3Ghfb5N+cVOS2UTd3e65wOUL0QKwH69CKWP8sU9GBzlS1w/oLyPkvJ7vPMe+dBzGyy3vO4a533gt13qDwPdjyjoqGRyG9PE+dvp4YSOcren6+OeHve9vfPKXy71vMBDOUJ5DuWe7yOyCjFGST5BeTPKCcpbUL4U5a0opyhvQ5mivB3lDCXttI/yTpQHvo+YLMRllMS7gpJ4hyiJdx9K4r0MJfFejpJ4r0BJvFeiJN6rUBLv1dL3zxHwNdLqqR6+lgQhf4MEMV9HgqC/SYKov0WCsL9Ngri/Q4LAv0uCyK8Hobr6eySI/AYSRH4jCSK/iQSR30yCyG8hQeS3kiDy20gQ+e0kiPwOEKrP7yRB5HeRIPK7SRD590kQ+Q9IEPk9JIj8XhJEfh8JIr+fBJE/AOJmIv8hCSJ/kASRP0SCyB8mQeQ/IkHkj5Ag8h+TIPJHSRD5YySI/HEQtxD5EySI/EkSRP4UCSL/CQki/ykJIn+aBJE/Q4LInyVB5M+RIPLnQdxK5C+QIPIXSRD5SySI/GUSRP4KCSJ/lQSRv0aCyF8nQeQ/I0Hkb4C4jcjfJEHkb5Eg8rdJEPk7JIj8XRJE/h4JIv85CSL/BQki/yUJIv8ViNuJ/H0SRP5rEkT+GxJE/lsSRP47EkT+AQki/5AEkX9Egsg/JkHkvwdxB5F/QoLIPyVB5J+RIPLPSRD5H0gQ+RckiPxLEkT+RxJE/hUJIv8TCBWi/pkEkf+FBJH/lQSR/40Ekf+dBJH/gwSR/5MEkf+LBJH/mwSR/0defUJH6jTDdi3OCpmnUAZzxnY4mTCJkcb2NNlj2jVL8NdYGyVbQsqtw1mUiorUVwPCqOCqeJf8mBkX8qthOAuV7hKyq3iEU5nFpNAc3ouzo5DLM7aNdC3dDYfJ5RSksRvv7OIguov0DQnhMJqF8QhUNUKXU+YSSAwPcFCNcLQHvTiL9tRFj65aOoi3cOQakF5W95W62eyWXxir/79NDpAoTUOMbUWsbE2JOUbL4FZVZ4RxrbLzaSEHNASyYyNhojhjHl05iNN4C5mpFFUU2TXzSbGQIqFOxd1yEdjjdDuZ7okXiaVYGf1ALCsi2EUSPGbPD8RKOIYMJ4MmayA4owVI25BVYmqWxLXgy/eqZ8TqNME5AiroyYmUFSBObivzWexsNmtXxKkJx1JXNeI+cTraS+6NLaC4uJuDEZfkNUwY2zBkDQ4Av7gUHQo4zDakrXgcNSJaBvAGJbV4JwJuRar7M/3F6mA3ZP4bTVP4kZxzPjP3Zo1tGClp5yCa4qYnCkJYDPFCVkbq+kfdMvRgR9zajtBkin1GLuyMDie7KTYYuTic37ym2F7kkv6shwYhgoGW2bX5EF4pV7bD0WgL9xd1yFOxJVfXMmhhLMFPdFLcE/JyPJzxLGSw7iKICon5kKvkzHSAIw24pe14ms6sfHhodwHzXuYX19lnYSwOkr29cDxMs/VUHIB6QpsCeSCW2Ta6pwaPpo6Dh8ODzFUXa3MDCMOY4kiXigtSFkiGPvmp4RuVA8V0otnlZHop78IYnhiO0NhQtZh35PicMJbgMg7DkDy/pcKT0j/c20pGGXyqGLSLEKPpHCQlgIHzHN3ep1vWMRosHRg2h83DlGFkZ0PIkA/glI2xo3MK0Iu2IxwkMXhjZTseRefhk3CtVFWqlg00ydlvhIhiOA+yqy6gMvgU6YOs5jFvYRRj2U8P2Ycg8fe3eI7cghoFYio5X5NkjGnWDS3tj7dHvI8cQ6eMuByn3bwqGmLtr+heW/n37TDF7GWGGuRSjSon+1ujON0FGNtlb4MkiMK9VtE7NmJc3Uj2SAK/UgHpOlEKSNvbaTTDbFam4TDeZ/SqFpFpAcU8Mi0GDEjKDZvj7QQToNA2hBzuZ76FheAisiSsqEUH8SC/Qs7vO5gwqztsaeEIow51hpLhCoRHZfAV/aGXByic+LOPLWuzrzZJeVUjwqiSQV6GKc6cczKNMLDmENaLt2MsCMwxvtKY70HQpc8hDrjZygoIgDc39EQdawVuifIrJUl6XmOQyy+WKrinwThyzWrGzpUXMkGuv9g2O111WFjKOrCGMLMzxa3ssFncZKKV+ah50YknW32nyQur7LlFHgPQY5h/icNQs9bP3/eOq5uTSYRwoVaJsTUXK5QPw5SFyMrdpRNib1Q2VFq4FjB7OIur6wSBO7PsgVL6m+oCwLCxq05nPjZTOG0qjOV0f3sbV0JwZrUnKZRnCFwfzbOTiaikBztcAR3uXpgpsMhO6ISfhEuCc/ZnDKzcQVCPxQfDIU47Y9z4SLEEjXoyHUS+ekPCirqUQryc9aW3noEJo1nvd2w7u0QzW5vmRR+EbKndgW8KiB4z9vCckCGf1A2EjfniqIz393wsKxgjFQuimi0l5A+plvp0RQTfnX2sxGnGLQ0yWy5PuEDxYHGLWFlH8MEkVLJG5BwqvwGruFjsmKXLcfECvyywjI9sE7jhR0QO2GNeCmkvyB5McYPkOecpMbLH74qNh2J1Pq/iPI6rKlAL2YPJog5LCq8US3XIz6IR3KkUQPPwSwWYHCPjFGJMKSXZJ3j8Ku6U8E0RmrN7zrVoFx4G+wAPD2MtdX2CIeD5oL/ZsLEIGs1Wre/U8bDEalxZ4aJZ/4ZAmtPBvM0Qb3LjHXO8A0MhAUQUK7FGjEeHqZcHvIo72t+Jx9m3E8XACuivzo/R0Uu6k/yBA7bYMfIs41dqd8PcqDIIdzABt052kSeIRYQfElp42wSGye80XyIqJVYr3D7jjK0KFcS06I4xff+EWGCpRXcWnreYkbriWbjcvaTi/JKmtPjZRa65nJG64jn4ch7UV+aMrnzuAOt9BmJVEVr4vJS+20OmiFKLno/VOs9OT84ZXfmCIXwCHgsnwJ4gT5VYrWCG6i2Og0O3Txecrl4rIo89Zl7BwV1zTKiVrT0scNSfYalFtUgtdetoXLj2uFSr2/yymTo6qkDzuiMCrVQvmne0NWHYBxwTauV1ZFtlD7u+zGuVRil3e2BO66omPCTcmYaTXToJZmNF3HCVSCtuzKX5BfSKeNDVMq16nkuiSbdXaRUUbzwq0WqtvRiz1IpRQOXBKDJOV7dTFVI38/z2IWVeq3RmiMoBtrFLaBsqDy3zWsXZnb+3YzIAoeL+Q8TD7k+uP3HBoSETJ7exeJh4eInVCndpiRVOxCPEI+aMrvQ0r35N8CjxyILT1T67qLAa8w6Ix4lH3Y9YfxDMa3r52/8TxKOPCbVyl3IL0UBcLx6T07qqR7aUmt8gHntUotU2t67+kcNjxOOulmnVCwdZ24UBYdjHH5dq9YsIwCOXfCpeLp9QcLr6bijDUloEhSeWea3yQq6Q7Lxzj3hSwenqF9GzO1jYOBE+Oad11YvVUBlzXy3FU3JG170kUglrits4+dSM1jV9RN8hdhj1Uwd4lHiKeNpVIq14j17tfp56fFzKpx8Vab2QLZsqAKVYgeI28YyjEq22NZonBSnu0uQzS7zWGOhTEweBC0txtmB1/VBthNhXlsRNGakroiKIWFlucO4qkVbc5vysR8leNJse4rJO3lwWaJ0dPUW5kFq3HBVpvV2s/uz3Bc8R8ZzRlfcqPosfWMOXyrxWGSmRGw65r0Jlr8xrlTH3RYR9dTpLckbXTfRJjNbBza14acHq+uk2ry7aCMO1OFXBXkiRHhNq5dlUT1RSR9SSAjc1c1YrHOiJX0MPtVHz76F9WXXcghShTi1f8QJxRQk3cAPC3zysicNUJzeql0U+9BYp7otTLXX12YywQH0ZqPkH5QPgy4d47jvIazhgHnlfUVbv6bwKu/8ruWKypzgLqV4ybjH75gDRxquO1KL7V2b74ais8Wp1CZOpYMyDacRQgaNiWes1Za0GfAGrCLGirPLasoozxRwj5Elc4pfE/gi7fDS8O5omqHpduaqTPXLqB9YhrvqPV2beJbZxQXO8to4NhF0Xu3gVKFUjxKfiXqy3kmyeYI7wXkC3wxA+LeXrJSJfdn5lHoeV6OH5YIJDoTpK+tgOZ/OKNxQVhduotYjl+UaJAIhkJhwxicBo3ySTA3WDgb1ZT6ICeXN24VCLYHq8O6NlzOpbJC9gkERi000mrWgbs1dkB1hLbz2i4DGaXqXxtkJjLZnNkr37QXn71Tr3B/SOQqmoiZlj4FEXg+F6eufVOgG2nqMq76K1uMQwwhS+iIgTYifg+nq31L4N/9V3GVi/sJ3y/LdJHNmhms2KulV4l8SrSiELMAG4YnhPSVQrbhveK6Nw/nuMFt5cYGecIopfWnTw2DJQnfb3kmTGqxN89kEZj3fhVrzWHPk6FmO6PpCLfRUwi4oP5xUB1lgh/lgutlV4KSo+Pq9QW1dR8Ym8gvtGIf5kLi71p86fVrAbqP+ajNN5FWz6fvC6Mpd8SKaklB0+L/F6pNijfvdtuZ/fCsEM5aD0ETnCnggbZWvwHjw24UtY0tEH0R4eneDgWVj6VDalPtsoTeeXJXbGUlURKL8o8ewUp0dj5KdlpOxGo5opzuUkIP8MNP1kG2kQepVBQfxZiDvJuDsZYsvOID6XdRMuB/8YKG3UChdGGBQy7AYYwhckbh7giLvxaIhu1eIDhAbeC32x5FwuAl40PcBlOXHRxJcINMYsolKZt45xFiL+Ku2E+Ar9X0eL7EbqfRKvYKkCmZ9pvyrxDqYiB7qFbwOoiwaexIrmg3gvQloBH/1GWbMdgsF/taK+KcHkNaXF8C05jLBhjRWP0wsmDEkKPvhO6SZH527I5b4r79fn1uaa8LvvyTA7Un9d4sUN1jq6dbVUDtTLHGMBb3FjjBTbBlg1uI9KPMslB6ojeVhWFR+QeKbLKrwITgngXAFT9f28ruhOsxiz+KDEk94xDbO4zvqIxFOf2hKyvp3Ai98M7tXF5LaO9HoJT4D6yM8RwezyB3j32kGwGzpjJ6jrH7WkYix/OJdvbx+p+FFpAv3dZH809Pewl5jqGYZu+mOZMp/Q2cXz8Iyo2OJUkaVNmMOf6Cp0TuXrRcVPdcWmem+oiZ9pVqfa4H+uzIGgoq5TPDw+TvRaw+zyHuEXOa/izS/hwFk0pvoJPEjGqXUOPf2V7MXRZa5K3KkOwvFBmDIoYAeBgfFmIOQEa2iEVXIAPXxgKL4Wcfg8EVf0R+vYdtFQVf3qmVD6h89PElLXK9BWMsDEYw5wXVsS+1j3ap7Xkito8SpEaxQPcNzn5f8SeoNDHMNT9hO7uQtJY4ydHPrZGsSU6ThmBNN4ZwdhaejAYCOuj0qiqawFuZvM0kkyy1gjvRxOMrrShfvk9z+njvzALosIaoEaY6SpsCru73W+UIUj7EQ6VCzQcMrA38FFzp6yz/dwdZPmo8ZzyXKyhYYOOPNLcmUYMaJ0NOYqdjZMm7JCigUn8XrHAeYjT7GuJO5jjg4yxXqRp3x8Ga3zauCu/QhnA17nwU/RTCczFvZ0uBcuEinQA03b0SwccmkYcgvXjNiIohGXAO2Jgc8fW/VjJ67hynYx4KSKqIwLREQqWcW4M1OmWJsSLw3AFjO5mGKRhKNsuEvhYAA4URXLKWOUH6kTJGpWcj5gs3eI1Zy3sKRgISV+ljgxCbE/oQsL4qQis573+LAJlutDr4HTumE3PBwl4RCCa9Ij9orR0R9IeaY0kLlpfoTbpf8DohIAANVZe5xPVdff58yeM/cxV9fBz72S+y1jzj4MckkicisyZkZozCikZCZmDFNuCSkiXRQ9rlFhxjQuISThTSSkkFJJSt7wvuu7zplj13v5PH88/zx9Pqxv57v32muvvfZaa/8YhimChAwyhDCFNII75aSPH52ZPU5YRugzQogwESPihDAEjxO1hDSDe6U9khlodmtEJAT9x6KCgQnxwM3z9u/bV/4HHyaImQZpMQpCv4+AOoPURQX32DGrZ+cOgdRA5thAZlYgnVZ/PCcwNid9ZFpWICMzMDJ7eM7jo9PSR+Zk0wj6kJUWSM3Mzhw+kobSIHzqMXJ0WuNAh8fG71gdGJcZGJOTkTk6Z2wg7anxGWmPB9JzspPJ3BDhGRxRJCYvLRRij2v5TCEWs/EzjKFvRolo3kGCSCwQYnJFUUlUmUJcVQyoJpLM6mYNUVMEyBW1RR1RT9Q3DGHm5k+ZkhsdFZW3ZfNmDAzCX+ROQzQQtz2jwiuJ2ztkZY1My07PDPTMadxM9MkcPTI1JytDlH/G10b+1zuMf51XwsvdEvW/uUWW+yLYNERByxYdzSKxcFnQqEUvvywLAuvOhJAXmgYLqzvFwNRFLz9mThelPYLo4zKN7m5lCiud/MAaKJ7o6+RgYeXVGFRXGIaZL8re1xnDyo0b0JZiyiwQZb10xrTyrtyYL4wgc6po315ngqy8Hm26CUMSs6xYZ6SVt31vmjCCzULRNKAzwdaky2/vEoZFzJOtdMay8kbNHe3OERN1JsSbE0JM1zk6E2rl9f2mnjBCiRmxS2fCrLySbpGutrI/dCbc1zZNyBCdifC0hREzv7bORFq5pePioW2aeLKJzkR52sKJSUrWmWgr79zB2u46GQ/oTAVvnQhirozRmRgrb8icVGFEEnNwts7EWrnHD0wQRhQxY5bpTJyVu6VGoTCiibm4XmfirbyNS5q4Vg89oDMJntWhxMhjOpPo+Q3asi7rTEVPWzjF25i/+K2St9MKxCQk6kxlz28xxEyrpjNVrLwRw+vD19NF39t1pqo3J5iYXX/xdTXP6lhiKrfSmSQrTzbsAl9PF1mddKa652toa3m/ztTwtMHqaf11pqZnQQQxfwzWmYB3PnHEnMvSmVpW7vPbx8Nv00Wv8TpT2/NbFDHPFehMHe/k4olZMVNn6lp57VuddP0W84bO1PP8hlM4uU5n6munkF+qMw28/cC2Kzt15jbPNuy08WGdud3bKTza44zO3OF5NJSYhEs609CLHfj6nes6c6fn61hKZTeFzjTyT65IrAjVmcbeOsHEzKygM008bWHEtIrTmabeTmOIyU7UmWae36DtgSSdae5ps4i5WUNnWngZCbbNaaAzLT3bIogZ21hnWvl+KxJma51p7c1JIOZcis60sfK21OiMMy0SUzvpTFvvTKGt3z06k+xpgwXJ9+tMO88CaPt4oM6keNoqELN4qM7Ymt+OpOuM0vxWPEpnHM9vONOM0TrTXjvT6PE608GzGtouP60zqZ42QcziPJ3p6NUsWP1Eoc508qyOJ2Ztkc509u9Pkfhmns7c7e0nkZi9i3Smi5XrRW+R+GmJznT1bJMm19vyz929IleRSuayEJ25x3NAJWJOX9eZHlZe9vl2wqhMJfPSOJ2519tMMDGTV+hMT2/5SGJiDuvMfV5RQGEMROpML9/RhaJ9R53pbU2alLBGGFWIGdFfZ+73rI4mZsUCnenjpYlYYp4/oDN9vTkocpeCdeYBz4J4YibX0pl+3uGgxPTqqTP9vXVQlnaO0pkBfmqhdQp0ZqDnnRhi5s/WmUHeUVclJmOlzjxo5VEziPMhZpvOPOSdTywx8pTODPZ2inVW3dCZId46SPBv/uUUHvYSPBLi9kSdGepZjTSeUE1n0rxLimS96TadGeZ5B8n6cmudSfeufDViYu7WmQwrN3xVkggNCzOM8r72b+2uMJ8p29shKGFZ3NTQSeuDbixd81KfOq1fsbtOiEsS4k7RWDxjTDaMKYbIp3aUWk5DFBpimiGmG6LIEM8aYqEhlhliOd3dvYbYR88SK6mDMHb8FuqQk4UJcGPlL7aZ2e5h5YMPX012zIFtN9o+oLHuYJJCDBZG16+3qPmVMxxzQumrquvXEx2zZuEP9pUbfR0zbFWSSh3a2THLxwjj/1EKiqQLQMFqnkAf3a/Lqq5VZnrMANVpRqRjtm81xAX4i4YI0tXyFoAK851f4m6B5I17lHnlRoLzeufWytw6Lt4FdDt5PZr1f9lETzCDXiOucgDskVkfpA5drszH7HDHB2GrTiimfFCtSXWHp/vAX84HtIK7BEkh5pELeg5ryv9jVpGfu4Y2aFbkgpy4gmRihFncLZINNe96toMKmZKozOVjbrhgxa4Id3q5HmHse61QtWyxQZmzF65Rxw9UcszrK9e7oKjiMZeKMn9QJ67lKfOR4cNdUD5LGOK4KYwJpad4Sdk90mS9R9+IcbaOm5fyYEY12uBgWz4yvL7TesgWe8Wuhk5wv2gF+cn+HkoCjB0xV9WzajkVGr2ryHrn4ydKFbbh5MTtUPKFH5OclFOfqqcu1HeWVf2Z5YsdIxwJkLimgXN9ZSw7D1ZAsu98QNYICkjXQLpyTQar+IKAY97x0KcMZIVGlxlUHySd9/ZUZHnpbcuRAJ1mXFS1111W4+d9oTAD0oQOH2Cqq7bpV28qc+yIzxjI9/b8zmD946FwBcvVSYOUBBg7IlZd7P2H+scvh2zMgGRtPsBU8Rv5tuH0F1XE0Tol8viBDxhsHXdYvbV4Z7vv/rygvl1ezZbxBcK5/aE59sysEIq4s/bDW8KcpT83UOaZiUcUgAzud0Dd/f6v9uud31fkZLuKfJGlrCL7MaAMpnoOi4F+2u7jykxcE+IAsLUUWgr3/PKhWSzpYaskwIlrpeqPPkEc3h8FLtHUy0quTjpO9kln9PlihdgPmbKApfz9tocYIBdEHA1yKL7skXN/VPLGysfsg1cPK7qGNqIP0mw4XUmA2AFtFXXqNm7Xodpf2ptrFNqy8bvV8TEF955sLil3kjCaflWXfSex8cfsvepQ7QfVtT7fqE+vzmMpkYEApv3wGUXbfvVS9iGeYZZPFVfI7b1mVbKhQgLQUvbxA1dtLAHDICXmAsQOuEa3eTAZek29sjOgJAASySs7T9O1W6A2LFmrGr+7RJmjzz+tHhn+lpLPdRhK8bBCpZ3tRQ5doSaPSlG11r2rZMsWLWjqB+rphMbqg1+3stz32kdKAsCxlY71JBXn1JQFBSzluYOvM8D0RS8fo2PeoAxRpkxK3AwkDqZli19V4prd5JBwZ37lqSzl/MqSAa1uP1pyBVbYP036UEkAhAhFmV33y6doZhcyd4Qyx897SVE6V3Lk3NXq8qF72dbWQ5JZjp9XWXGQ4lyxzb7fLLcT10xnKaeWdWewbW8tyo9nWcK/JvwLIKhSJm/sytfUBKjWxHZM8p/tA2JciqQQH9Mp4eyQ5mSlYweU2TCEDYkvKLMREJAUjYMYUG9DyTeJbKhHA6crCfDCjyW8nz6bTioVvpClzHXeY7By1z6FvIM4+b7+ekUrhzoAEhcNyWBNF8OZmXVeNQ+9qHDoMmTKf9BxBTuxAzazZ9NjXmIpkfEBELcIfQQyhz4iqzz06SKyhM849OFZ3A2EPpzKoY9N0KwUCjlSVacEdkNS2G1mgNKQExeUgtRFxc+W2/YaDly/9OcQOnyperQJc+A0s9x7ooxKy8NburFfTYBKx2YrCYBUjIwPhyBSITmdACDAe7T5mCUHOACpQH2J4TrAoPoguo4Anz95AbQDTyC1Q8oPX13E4O73x6rnOghn2g+96ei/UmwHA7gB+YhjwAekyLWVpBBf0g5o8ynfLv9SmZfe3mX74P5NNZQEWNslzaaF4JuSwXPyWcq0s88zuH/TUnLeG8WdZqxihdRIrFJTy/baFCfL1eA5221skLxhI49ASqRHgGt90insrrLsH91ImQC8PHT4gA0H5YPx8+5y2MTibne6gClswweYLib97XQ2LMlxTwepDFv5/bYT6s0xW1maAN/9GebIl7JfYFCz8FG6AoKK6H1UH4+7nmWA3MpLwaE+oGXcdUgK8StdMwQjXxqABzPaIQDtDUt+pqv5FQhbTiitiY8pyGxkdwkiH1IiBQE81+E0D0DV4xkoLFAxe2G0A5WQRCgJgGuGAVQOuU72j6a7AhVTFgQ5UEkHeet2YVEAGIEBsIpn0II2VMBsqITEGsKAp9A6UVE6QUm/LrlxO/7YvWYtZEmtTD6DI/cOU2u7fE1VtRuXSOoXmlOxa8qZBNkFkq8swOF7X6eC2lztvucDCp/uKqjhbiVx2Cr8KKnL53uDNSAl6WcAI5CLIGEVmmnkudgBVRxKO10pitq5Z+MDnwJwR9NhuenRP0kfEONSJIUopn83oGRpn5mYoCQA5UA77exBrm8Hr/bhA5Pv/PICA+TDKzeOpMDt3/250jbzF+xgIKk+UNEoSUHGoZxevPueqyy5IwFALqTmobhmYQRkMr0HIpyLvTfZEsdF3YiNnIou7akLFktyu8ngxLWb6pP9+1mSycoEwBlKAPSB6MCgpuew51lyUwBAK1EuvUynlkbBWqyoDWypAOTue9pQDBxWaBvOHTxDJWwWS4nXBAD2iAGQZIUyAXCm9G6ZyIBK3482APyGGIGEI4WBkkYOU5Rwa5HH+lIp6Ez1eKw6WXcaS9bmA7RDfD3QD6NeUv630SJAyvwFHRlAF9UYllAujtJ9/L5+LAU5VcUj956hHOkBvtIIJwDKbAcVGv8v3ljHXkHHAElBl8qAGmzSGOTQKdqTEn5SMnVoJu3kCDngVhsG0/nWw3UYQMdqU9ja9awpfIr4mIIiQsaVkOdZSiQ8gJ7DDipyWAqsQhVmOxmge6VzFSb2QtIF2IswMAhukgA4VTKRZxVVfJkl3dqHGNATgKs6JJsKgJtUVHEg36zVSYtYcqwCQGX3yO0s0ZazRViMSwhinS/N7IXZt0CFRnEOpaVsRbWEKuhUJAynfaulLOnaL2eAnqj6oLoOdOQvqOOYANiQjDL/QZVCOZntXqViqhwkZkhu9wAy252yv3ijKctHSxIceiGeci8vha5bDABQDJjyAflNsIkkXcAUVvYBpos9FDXIYDTMze2UFdwaUs/apt7b8wQ7B+92SLrAZQwQRKjwkCiRJgCpECayM0kXnJk4330p3PXsNvYW5u57rR5LSS9rBnABlEGimpoApELg+X4LcLsAgHYhuF9Pbheur2zGkogaDOjSOEgzJ+taDm8VoQxA/f1/klNv0mZOcZyjL4KUqNwAKNz1LONWp4HEyOCfqYeLyZNwNNMA2O+/VXSgjvqAGGGmnKrg+h+AFWIwgDAwCDWGOR98izoEygeg0MOj6pEqYQJQc69MtK0+IMalSApxiZyJTICl+CbSD41uDgOQaL/RE/aPXs0n5+cwJBwA+kN5JshBRvofOYzSJ0suzgAXe9+FdEUP5fM25QOb0pVNz7hIbkyQFpGy6CNLOtI1DJDDqEW0YRWaNLbTB1Fmw1JOXT7gvZRvyk1mpN9NZshVm2t8xLkLqQmSQnoIA+QuiiFOZugCOJnhRqG/wep4d0OyaQB4rfWedVSdvu8TvqaS3hVc6bDW50+uZImwZ1NhBbf6qA8wzgSIL5isqAk/rlBhUI5giv98wi8+AChH9G6g0O3IL2pqAjq6OqifIg97ADeJOorpdo82z9JzJZgd+F9HnmRJ+3mLwcm6u8iY37hvYEdieQaowRQWwuwXHeVGJACrxxgA9EaoTt/Xb4Z+8UV6RXZxu+fukbUd/NpGL/o492csjPlb3oMKvtU+IMalSLoRia98nPjqAyxhImcASDTViAr0ctgT3jOQFIFnGSA5kcdTokzufWx6HCbitUi/TFWle9SWqnRVh48ZAD+mYQBekPhxa/ZCCma8LxHdEy+c42hH4wVJj1r3zTRy7mjKEDfpidqbLwzbyQAdtb9DH2Avrj8QFJz+ESUqvD9HDRIjhxH5leMK733EGZIXpKRXKIOBba9wrEAmb6Q9AKD/xW8UiBc0AJDUz+UzwFqIfkhyi2sqrBCHKCLfWtwJ3V4K203e2iKbh95JmrtubdAslByzYCsVDBuSe3oASnk2FfCtaC9O3zdrqwlAfXmppGk25c5S+mrnOq1KqZFjKfGLBQAReLFtfWXnMiSIEnq3CjfI8IMWg89qL6bUtliZSDmcvOjXeRfgGcUUHb87mHJJsQfcbSBG0UfTA1KZAMxSqLhHAeBTAO5oij7Bn3DReJAPiHEpkkJEln0493kraqa4NGOGMfmz6M5d+3Sf+ERqq9SOo7Katm0+MK3vmGFpo+4bKMR/Aw==(/figma)--><strong>LÍNEA B es el centro social de informaciones de la Beneficencia de Lima. </strong><br />
                                <strong>Aquí te podemos ayudar con:</strong></p>
                            <p style="text-align: left;"><strong>          <img class="alignnone size-full wp-image-1762" src="{{ base_url() }}/uploads/2019/09/Vector-5.png" alt="" width="31" height="22" /> </strong>Información sobre voluntariado en nuestros programas sociales</p>
                            <p style="text-align: left;">          <img class="alignnone size-full wp-image-1763" src="{{ base_url() }}/uploads/2019/09/Group-3.png" alt="" width="33" height="31" /> Voluntariado institucional</p>
                            <p style="text-align: left;">          <img class="alignnone size-full wp-image-1761" src="{{ base_url() }}/uploads/2019/09/Group-2.png" alt="" width="26" height="26" />   Donaciones</p>
                            <p style="text-align: left;">           <img class="alignnone size-full wp-image-1764" src="{{ base_url() }}/uploads/2019/09/RESPUESTAS.png" alt="" width="28" height="23" /> Respuesta sobre evaluación de casos sociales en 24 horas</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <section>
            <div class="col-lg-12 cc_ formar_parte background_" style="background-image:url({{ base_url() }}/uploads/2019/08/remi-walle-86579-unsplash-2.png)">
                <h3>Comunícate con LÍNEA B </h3>
                <p>Mandando un correo a hola@beneficenciadelima.org</p>
                <a role="button" data-toggle="modal" data-target="#voluntariado" class="btn btn_default">¡Quiero ser voluntario!</a>        </div>
        </section>

        <div class="modal fade" id="voluntariado" tabindex="-1" role="dialog" aria-labelledby="VideoModal" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-content-general-fondo " role="document">
                <div class="modal-content modal-content-general ca_">
                    <div class="modal-body">
                        <div class="mondal_body_formar_parte">
                            <a class="close" data-dismiss="modal">X</a>
                            <div class="formulario_">
                                <h3>¡Quiero ser voluntario!</h3>
                                <p>Si deseas aportar tu granito de arena, llena <br>el <strong>siguiente formulario</strong></p>
                                <form class="row" method="POST" action="https://www.beneficenciadelima.org/se-parte-del-cambio/convenios/" autocomplete="off">
                                    <input type="hidden" name="form" value="1">
                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <label class="label-nombres">Nombres</label>
                                        <input type="text" name="nombres" id="nombres" class="form-control formulario"  onkeypress="return validaLetras(event)" required>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <label class="label-apellidos">Apellidos</label>
                                        <input type="text" name="apellidos" id="apellidos" class="form-control formulario"  onkeypress="return validaLetras(event)" required>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <label class="label-email">Correo Electrónico</label>
                                        <input type="email" name="email" id="email" class="form-control formulario"  required>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <label class="label-telefono">Teléfono</label>
                                        <input type="text" name="telefono" id="telefono" class="form-control formulario"  onkeypress="return validaNumericos(event)">
                                    </div> 
                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <label class="label-telefono">DNI</label>
                                        <input type="text" name="dni" id="dni" class="form-control formulario" >
                                    </div>  
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <label class="label-tiempo">¿Cuánto tiempo quieres voluntario? </label>
                                        <select name="tiempo" id="tiempo" class="form-control formulario" >
                                            <option value="Permanente">Permanente</option>
                                            <option value="Eventual">Eventual</option>
                                        </select>
                                    </div> 
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <label class="label-donde">¿Donde quieres ser voluntario?  </label>
                                        <select name="donde" id="donde" class="form-control formulario" >
                                            <option value="Puericultorio Pérez Araníbar">Puericultorio Pérez Araníbar </option>
                                            <option value="Hogar Canevaro">Hogar Canevaro</option>
                                            <option value="Hogar San Vicente de Paúl">Hogar San Vicente de Paúl</option>
                                            <option value="Centros Esperanza">Centros Esperanza</option>
                                            <option value="Hogar de la Madre">Hogar de la Madre</option>
                                            <option value="Instituto Sevilla">Instituto Sevilla</option>
                                        </select>
                                    </div>                                                            
                                    <div class="col-lg-12 form-group">
                                        <label class="label-mensaje">Escribe tu mensaje</label>
                                        <textarea name="mensaje" id="mensaje" class="form-control formulario" rows="6" required  placeholder=""></textarea>
                                    </div> 
                                    <div class="col-lg-12 form-group">
                                        <button type="submit" id="enviar" class="btn btn_default next_">Enviar</button> <span>Únete y forma parte del cambio</span>
                                    </div>
                                </form>
                            </div>





                            <div class="imagen">
                                <div class="imagen_img">
                                    <img src="{{ base_url() }}/img/fomulario_moddla.png">
                                </div>
                                <div class="imagen_contacto">
                                    <div class="cr_ cc_">
                                        <h4>Contáctanos</h4>
                                        <div class="item">
                                            <div class="content">
                                                <i class="fas fa-phone"></i>
                                                <a href="tel:(+51) 1 01 427 6521">01 427 6521</a> /
                                                <a href="tel:(+51) 1 01 427 6522">01 427 6522</a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="content">
                                                <i class="fas fa-envelope"></i>
                                                <a href="mailito:hola@beneficenciadelima.org">hola@beneficenciadelima.org</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
        </section>
    </div>

{% endblock content %}
