{% extends 'templates/app.twig' %}


{% block content %}
    <div class="donaciones se_parte_del_cambio">

        <main>
            <div class="col-lg-12 section_noticias_banner background_" style="background-image:url({{ base_url() }}/uploads/2019/08/partedelcambio_banner.png)">            
                <div class="ca_ content_item">
                    <h2>Donaciones</h2>
                </div>
            </div>
        </main>

          <section id="contenido">
            <div class="col-lg-12 section_partedelcambio">
                <div class="section_partedelcambio_container">
                    <div class="section_tab">
                        <div class="filtro">
                            <ul id="voluntariado-menu">
                                <li class="convenios  "><a href="{{ base_url() }}/se-parte-del-cambio/convenios/#contenido" ><i class="fas fa-scroll"></i>Linea B</a></li>
                                <li class="se-parte-del-cambio  "><a href="{{ base_url() }}/se-parte-del-cambio/voluntariado/#contenido" ><i class="fas fa-balance-scale"></i>Voluntariado</a></li>
                                <li class="donaciones  active"><a href="{{ base_url() }}/se-parte-del-cambio/donaciones/#contenido" ><i class="fas fa-hand-holding-heart"></i>Donaciones</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="section_content">
                        <h3>¡Quiero donar!</h3>
                        <div class="content_parte_delcambio">
                            <div class="container mondal_body_formar_parte">
                                <div class="formulario_" style="width: 90%;">
                                    <p><strong>Si deseas aportar tu granito de arena, <br />completa el siguiente formulario </strong></p>
                                    <form class="row" method="POST" action="https://www.beneficenciadelima.org/se-parte-del-cambio/donaciones/" autocomplete="off">
                                        <input type="hidden" name="form" value="1">

                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                            <label class="label-tipo">Tipo de Persona</label>
                                            <select name="tipo" id="tipo_persona" class="form-control formulario" >
                                                <option value="Natural">Natural</option>
                                                <option value="Juridica">Jurídica</option>
                                            </select>
                                        </div> 
                                        <div class="col-lg-6 col-md-12 col-sm-12 form-group form-persona">
                                            <label class="label-nombres">Nombres</label>
                                            <input type="text" name="nombres" id="nombres" class="form-control formulario"  required>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-sm-12 form-group form-persona">
                                            <label class="label-apellidos">Apellidos</label>
                                            <input type="text" name="apellidos" id="apellidos" class="form-control formulario" required>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group form-empresa" style="display: none;">
                                            <label class="label-email">RUC o RAZON SOCIAL </label>
                                            <input type="text" name="ruc" id="ruc" class="form-control formulario"  required>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                            <label class="label-email">Correo Electrónico</label>
                                            <input type="email" name="email" id="email" class="form-control formulario"  required>
                                        </div>

                                        <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                            <label class="label-telefono">Teléfono</label>
                                            <input type="text" name="telefono" id="telefono" class="form-control formulario"  onkeypress="return validaNumericos(event)">
                                        </div> 
                                        <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                            <label class="label-telefono">DNI</label>
                                            <input type="text" name="dni" id="dni" class="form-control formulario" >
                                        </div>  
                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                            <label class="label-tiempo">¿Qué es lo quieres donar?  </label>
                                            <select name="que_quieres_donar" id="tiempo" class="form-control formulario" >
                                                <option value="Permanente">Bien</option>
                                                <option value="Eventual">Dinero</option>
                                            </select>
                                        </div> 

                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                            <label class="label-donde">¿Dónde quieres donar?   </label>
                                            <select name="donde" id="donde" class="form-control formulario" >
                                                <option value="Puericultorio Pérez Araníbar">Puericultorio Pérez Araníbar</option>
                                                <option value="Hogar Canevaro">Hogar Canevaro</option>
                                                <option value="Hogar San Vicente de Paúl">Hogar San Vicente de Paúl</option>
                                                <option value="Centros Esperanza">Centros Esperanza</option>
                                                <option value="Hogar de la Madre">Hogar de la Madre</option>
                                                <option value="Instituto Sevilla">Instituto Sevilla</option>
                                                <option value="Museo Cementerio Presbítero Matías Maestro">Museo Cementerio Presbítero Matías Maestro</option>
                                                <option value="Cementerio El Ángel">Cementerio El Ángel</option>
                                                <option value="Plaza de Acho">Plaza de Acho</option>
                                            </select>
                                        </div>                                                            
                                        <div class="col-lg-12 form-group">
                                            <label class="label-mensaje">Escribe tu mensaje</label>
                                            <textarea name="mensaje" id="mensaje" class="form-control formulario" rows="6" required></textarea>
                                        </div> 
                                        <div class="col-lg-12 form-group">
                                            <button type="submit" id="enviar" class="btn btn_default next_">Enviar</button> <span>Únete y forma parte del cambio</span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $('#tipo_persona').on('change', function () {
                                    if (this.value == 'Natural') {
                                        $('.form-persona').show();
                                        $('.form-empresa').hide();
                                        $('.form-persona input').attr('required', 'required');
                                        $('.form-empresa input').removeAttr('required');
                                    } else {
                                        $('.form-persona').hide();
                                        $('.form-empresa').show();
                                        $('.form-persona input').removeAttr('required');
                                        $('.form-empresa input').attr('required', 'required');
                                    }
                                });
                            </script>                    
                        </div>
                    </div>

 
                </div>
            </div>
        </section>


        <section>
            <div class="col-lg-12 cc_ formar_parte background_" style="background-image:url({{ base_url() }}/uploads/2019/08/remi-walle-86579-unsplash-2.png)">
                <h3>Comunícate con LÍNEA B </h3>
                <p>Mandando un correo a hola@beneficenciadelima.org</p>
                <a role="button" data-toggle="modal" data-target="#voluntariado" class="btn btn_default">¡Quiero ser voluntario!</a>        </div>
        </section>

        <div class="modal fade" id="voluntariado" tabindex="-1" role="dialog" aria-labelledby="VideoModal" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-content-general-fondo " role="document">
                <div class="modal-content modal-content-general ca_">
                    <div class="modal-body">
                        <div class="mondal_body_formar_parte">
                            <a class="close" data-dismiss="modal">X</a>
                            <div class="formulario_">
                                <h3>¡Quiero ser voluntario!</h3>
                                <p>Si deseas aportar tu granito de arena, llena <br>el <strong>siguiente formulario</strong></p>
                                <form class="row" method="POST" action="https://www.beneficenciadelima.org/se-parte-del-cambio/donaciones/" autocomplete="off">
                                    <input type="hidden" name="form" value="1">
                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <label class="label-nombres">Nombres</label>
                                        <input type="text" name="nombres" id="nombres" class="form-control formulario"  onkeypress="return validaLetras(event)" required>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <label class="label-apellidos">Apellidos</label>
                                        <input type="text" name="apellidos" id="apellidos" class="form-control formulario"  onkeypress="return validaLetras(event)" required>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <label class="label-email">Correo Electrónico</label>
                                        <input type="email" name="email" id="email" class="form-control formulario"  required>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <label class="label-telefono">Teléfono</label>
                                        <input type="text" name="telefono" id="telefono" class="form-control formulario"  onkeypress="return validaNumericos(event)">
                                    </div> 
                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <label class="label-telefono">DNI</label>
                                        <input type="text" name="dni" id="dni" class="form-control formulario" >
                                    </div>  
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <label class="label-tiempo">¿Cuánto tiempo quieres voluntario? </label>
                                        <select name="tiempo" id="tiempo" class="form-control formulario" >
                                            <option value="Permanente">Permanente</option>
                                            <option value="Eventual">Eventual</option>
                                        </select>
                                    </div> 
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <label class="label-donde">¿Donde quieres ser voluntario?  </label>
                                        <select name="donde" id="donde" class="form-control formulario" >
                                            <option value="Puericultorio Pérez Araníbar">Puericultorio Pérez Araníbar </option>
                                            <option value="Hogar Canevaro">Hogar Canevaro</option>
                                            <option value="Hogar San Vicente de Paúl">Hogar San Vicente de Paúl</option>
                                            <option value="Centros Esperanza">Centros Esperanza</option>
                                            <option value="Hogar de la Madre">Hogar de la Madre</option>
                                            <option value="Instituto Sevilla">Instituto Sevilla</option>
                                        </select>
                                    </div>                                                            
                                    <div class="col-lg-12 form-group">
                                        <label class="label-mensaje">Escribe tu mensaje</label>
                                        <textarea name="mensaje" id="mensaje" class="form-control formulario" rows="6" required  placeholder=""></textarea>
                                    </div> 
                                    <div class="col-lg-12 form-group">
                                        <button type="submit" id="enviar" class="btn btn_default next_">Enviar</button> <span>Únete y forma parte del cambio</span>
                                    </div>
                                </form>
                            </div>





                            <div class="imagen">
                                <div class="imagen_img">
                                    <img src="../../wp-content/themes/beneficencia/img/fomulario_moddla.png">
                                </div>
                                <div class="imagen_contacto">
                                    <div class="cr_ cc_">
                                        <h4></h4>
                                        <div class="item">
                                            <div class="content">
                                                <i class="fas fa-phone"></i>
                                                <a href="tel:(+51) 1 "></a> /
                                                <a href="tel:(+51) 1 "></a>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="content">
                                                <i class="fas fa-envelope"></i>
                                                <a href="mailito:"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
        </section>

    </div>

{% endblock content %}
