{% extends 'admin/templates/app.twig' %}
{% block content %}

    <style>
        td.details-control {
            background: url("{{ base_url() }}/images/details_open.png") no-repeat center center;
            cursor: pointer;
        }
        tr.shown td.details-control {
            background: url("{{ base_url() }}/images/details_close.png") no-repeat center center;
        }
    </style>

    <body class="hold-transition skin-black sidebar-mini ">
        <div class="pace  pace-inactive">
            <div
                class="pace-progress"
                data-progress-text="100%"
                data-progress="99"
                style="transform: translate3d(100%, 0px, 0px);">
                <div class="pace-progress-inner"></div>
            </div>
            <div class="pace-activity"></div>
        </div>
        <div class="wrapper">
            <header class="main-header">
                {% include 'admin/templates/head.twig' %}
            </header>

            <aside class="main-sidebar">
                {% include 'admin/templates/menu.twig' %}
            </aside>

        <div class="content-wrapper">
            <section class="content-header">
                <h1 id="tipodease">
                    Archivos
                </h1>
            </section>
            <section class="content">
                <div class="row">

                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-body">
                                <div class="margin">
                                    <div class="btn-group">
                                        <button
                                            onclick="nuevanoticia()"
                                            type="button"
                                            class="btn btn-block btn-primary btn-flat">AGREGAR</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-body">
                                <table id="Multimedia" class="table table-bordered table-hover" width="100%">
                                    <thead>
                                        <tr class="heading-table">
                                            <th>Nombre</th>
                                            <th>Url del archivo</th>
                                            <th>Estado</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="modal fade" id="modalMultimedia" tabindex="-1" role="dialog" aria-labelledby="modalMultimedia">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header modalert">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                        <h4 class="modal-title modtitle">[ ARCHIVO NUEVO ]</h4>
                    </div>
                    <div class="modal-body">
                        <div class="box-body row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <form name="multimedia" id="multimedia" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" name="url" id="url" class="form-control" />
                                        </div>

                                        <div class="form-group">
                                            <label>Archivo</label>
                                            <input type="file" name="archivo" id="archivo" class="dropify-es" />
                                        </div>

                                        {{ csrf.field | raw }}
                                    </form>
                                </div>
                                <div class="msg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                            <i class="fa fa-remove"></i>
                            Cancelar
                        </button>
                        <button type="button" href="#" class="btn btn-success guardararchivo">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

      <div class="modal fade" id="modalEditarArchivo" role="dialog" aria-labelledby="modalEditarArchivo">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header modalert">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <h4 class="modal-title modtitle">[ EDITAR ARCHIVO ]</h4>
                </div>

                <div class="modal-body">
                    <div class="box-body row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <form name="archivoedit" id="archivoedit" method="post" enctype="multipart/form-data">

                                    <input type="hidden" name="codigo" id="codigo" value="" />

                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" name="urledit" id="urledit" class="form-control" />
                                    </div>

                                    <div class="form-group">
                                        <label>Estado</label>
                                        <select id="estadoedi" name="estadoedi" value="" class="form-control">
                                            <option value="1">Activar</option>
                                            <option value="2">Desactivar</option>
                                            <option value="3">Eliminar</option>
                                        </select>
                                    </div>

                                    <di v class="col-sm-12">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>archivo original</label>
                                                <img src="" height="200px" class="img-responsive" id="urloriginal" name="urloriginal" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>archivo a reemplazar</label>
                                                <input type="file" name="archivoeditar" id="archivoeditar" class="dropify-es" />
                                            </div>
                                        </div>
                                    </div>

                                    {{ csrf.field | raw }}

                                </form>
                                <div class="msg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">
                            <i class="fa fa-remove"></i>
                            Cancelar
                        </button>
                        <button type="button" href="#" class="btn btn-success actualizararchivo">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


                    <script type="text/javascript">

                        function EditarNoticia(codigo) {
                            var codigo = codigo;
                            $('#modalEditarArchivo').modal('show');
                            $('#codigo').val(codigo);
                            return $.ajax({
                                type: "get",
                                url: '{{ base_url() }}/admin/multimedia/editar',
                                data: {
                                    codigo: codigo
                                },
                                success: function (data) {
                                    $.each(data, function (i, item) {
                                        $('#urledit').val(item.url);
                                        $('#estadoedi').val(item.estado);
                                        $('#urloriginal').attr('src', '{{base_url()}}/' + item.archivo);
                                        $('#estadoedi').val(item.estado);

                                    });
                                },
                                error: function () {}
                            });
                        }

                        function copiarAlPortapapeles(id_elemento) {
                        var aux = document.createElement("input");
                        aux.setAttribute("value", document.getElementById(id_elemento).innerHTML);
                        document.body.appendChild(aux);
                        aux.select();
                        document.execCommand("copy");
                        document.body.removeChild(aux);
                        }

                        $(document).ready(function () {

                            ListaArchivos();

                            $(".cogepx").on("click", function () {
                                var valor = $(this).data('codigo');
                                $("#Selecciones").modal('hide');
                                $('.archivo').val(valor);
                            });

                            // Translated
                            $('.dropify-es').dropify({
                                messages: {
                                    default: 'Arrastra y suelta un archivo aquí o haz clic',
                                    replace: 'Arrastre y suelte un archivo o haga clic para reemplazar',
                                    remove: 'Suprimir',
                                    error: 'Lo sentimos, el archivo es demasiado grande'
                                }
                            });

                            // Used events
                            var drEvent = $('#input-file-events').dropify();

                            drEvent.on('dropify.beforeClear', function (event, element) {
                                return confirm(
                                    "Do you really want to delete \"" + element.file.name + "\" ?"
                                );
                            });

                            drEvent.on('dropify.afterClear', function (event, element) {
                                alert('File deleted');
                            });

                            drEvent.on('dropify.errors', function (event, element) {
                                console.log('Has Errors');
                            });

                            var drDestroy = $('#input-file-to-destroy').dropify();
                            drDestroy = drDestroy.data('dropify')

                            $('#toggleDropify').on('click', function (e) {
                                e.preventDefault();
                                if (drDestroy.isDropified()) {
                                    drDestroy.destroy();
                                } else {
                                    drDestroy.init();
                                }
                            })

                        })

                        function ListaArchivos() {
                            responsive : true
                            var dt = $('#Multimedia').DataTable({
                                destroy: true,
                                dom: 'Bfrtip',
                                buttons: [
                                    'copy', 'csv', 'excel', 'pdf', 'print'
                                ],
                                "buttons": [
                                    'copy', 'csv', 'excel', 'pdf'
                                ],

                                "language": {
                                    "lengthMenu": "Ver _MENU_ registros por página",
                                    "zeroRecords": "No se encontraron resultados",
                                    "info": "Viendo página _PAGE_ de _PAGES_",
                                    "infoEmpty": "No se encontraron responsables",
                                    "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                                    "search": "Buscar:",
                                    "paginate": {
                                        "first": "Primero",
                                        "last": "Último",
                                        "next": "Siguiente",
                                        "previous": "Anterior"
                                    }
                                },

                                "ajax": {
                                    "type": "get",
                                    "url": "{{ base_url() }}/admin/multimedia/listar",
                                    "data": {}
                                },

                                "columns": [
                                    {
                                        "data": null,
                                        render: function (data, type, row) {
                                            return "<p id='"+ row.codigo +"'>{{ base_url() }}/" + data.archivo +"</p>"
                                        }
                                    },
                                    {
                                        "data": null,
                                        render: function (data, type, row) {
                                            return "<button onclick='copiarAlPortapapeles("+ row.codigo +")'>Copiar</button>"
                                        }
                                    },
                                    {
                                        "data": "estado",
                                        render: function (data) {
                                            if (data == "1") {
                                                return "<span class='label label-success'>Publicado</span>";
                                            } else if (data == "2") {
                                                return "<span class='label label-warning'>Desactivado</span>";
                                            } else {
                                                return "<span class='label label-danger'>Eliminado</span>";
                                            }
                                        }
                                    }, 
                                    {
                                        "data": "codigo",
                                        render: function (data) {
                                            return "<a class='btn btn-default'style='cursor:pointer;overflow: visible;'onclick='Ed" +
                                                    "itarNoticia(" + data + ")'data-toggle='modal'data-content=''>Editar</a>"
                                        }
                                    }
                                ]
                            });
                        }

                        function nuevanoticia() {
                            var tipo = 1;
                            $('#modalMultimedia').modal('show');
                            $('#tipo').val(tipo);
                        }

                        function GuardarArchivo() {
                            var formData = new FormData($("#multimedia")[0]);
                            var resultado = "";
                            $.ajax({
                                url: "{{ base_url() }}/admin/multimedia/registrar",
                                async: false,
                                type: 'POST',
                                data: formData,
                                contentType: false,
                                enctype: 'multipart/form-data',
                                processData: false,
                                dataType: 'json',
                                success: function (datos) {
                                    resultado = datos.response;
                                    mensaje = datos.message;
                                }
                            });
                            return [resultado, mensaje];
                        }

                        $(".guardararchivo").on("click", function (event) {

                            event.preventDefault();
                            var archivo = $('#archivo').val();
                            var url = $('#url').val();

                            if (archivo == "") {
                                Swal.fire(
                                    {icon: 'warning', title: '¡Advertencia!', text: 'Debe imgresar un nombre'}
                                )
                            } else {
                                if (url == "") {
                                    Swal.fire(
                                        {icon: 'warning', title: '¡Advertencia!', text: 'Debe seleccionar un archivo.'}
                                    )
                                } else {
                                    Swal
                                        .fire({
                                            title: '¿Está seguro?',
                                            icon: 'warning',
                                            showCancelButton: true,
                                            confirmButtonColor: '#3085d6',
                                            cancelButtonColor: '#d33',
                                            confirmButtonText: 'Sí, guardar!'
                                        })
                                        .then((result) => {
                                            if (result.value) {
                                                var resp = GuardarArchivo();
                                                if (resp[0] == "success") {
                                                    Swal
                                                        .fire({icon: 'success', title: '¡Éxito!', text: resp[1]})
                                                        .then((result) => {
                                                            if (result.value) {
                                                                $('#modalMultimedia').modal('hide');
                                                                $("#multimedia")[0].reset();
                                                                var drEvent = $('#archivo').dropify();
                                                                drEvent = drEvent.data('dropify');
                                                                drEvent.resetPreview();
                                                                drEvent.clearElement();
                                                                ListaArchivos();
                                                            }
                                                        });
                                                } else {
                                                    Swal.fire({icon: 'error', title: '¡Error!', text: resp[1]})
                                                }
                                            }
                                        })
                                }
                            }
                        });

                        function ActualizaArchivo() {
                            var formData = new FormData($("#archivoedit")[0]);
                            var resultado = "";
                            $.ajax({
                                url: "{{ base_url() }}/admin/multimedia/actualizar",
                                async: false,
                                type: 'POST',
                                data: formData,
                                contentType: false,
                                enctype: 'multipart/form-data',
                                processData: false,
                                dataType: 'json',
                                success: function (datos) {
                                    resultado = datos.response;
                                    mensaje = datos.message;
                                }
                            });
                            return [resultado, mensaje];
                        }

                        $(".actualizararchivo").on("click", function(event) {

                            event.preventDefault();
                            var codigo = $('#codigo').val();
                            var url = $('#urledit').val();

                            if (url == "") {
                                Swal.fire({
                                    icon: 'warning',
                                    title: '¡Advertencia!',
                                    text: 'Debe imgresar el nombre del archivo'
                                })
                            } else {
                                Swal.fire({
                                        title: '¿Está seguro?',
                                        icon: 'warning',
                                        showCancelButton: true,
                                        confirmButtonColor: '#3085d6',
                                        cancelButtonColor: '#d33',
                                        confirmButtonText: 'Sí, guardar!'
                                    })
                                    .then((result) => {
                                        if (result.value) {
                                            var resp = ActualizaArchivo();
                                            if (resp[0] == "success") {
                                                Swal
                                                    .fire({
                                                        icon: 'success',
                                                        title: '¡Éxito!',
                                                        text: resp[1]
                                                    })
                                                    .then((result) => {
                                                        if (result.value) {
                                                            $('#modalEditarArchivo').modal('hide');
                                                            $("#archivoedit")[0].reset();
                                                            var drEvent = $('#archivoeditar').dropify();
                                                            drEvent = drEvent.data('dropify');
                                                            drEvent.resetPreview();
                                                            drEvent.clearElement();
                                                            ListaArchivos();
                                                        }
                                                    });
                                            } else {
                                                Swal.fire({
                                                    icon: 'error',
                                                    title: '¡Error!',
                                                    text: resp[1]
                                                })
                                            }
                                        }
                                    })
                            }
                        });
                    </script>

                {% endblock content %}