{% extends 'templates/app.twig' %}
{% block content %}
<div class="centros_esperanza_maria_castano_sagrada_familia_y_sagrado_corazon">
   <main>
      <div class="col-lg-12 section_landing">
         <div class="owl-carousel owl-theme owl_landing_top">
            <div class="item_owl_landing_top">
               <div class="col-lg-12 background_" style="background-image:url({{ base_url() }}/uploads/2019/08/remi-walle-86579-unsplash-1.png)">
                  <div class="ca_ content_item">
                     <h2>Beneficencia<br></h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </main>
   <section>
      <div class="col-lg-12 section_menu_tabs">
         <div class="col-md-3">
            <div class="section_tab">
               <div class="filtro menu content_btns_tabs">
                  <ul class="nav nav-tabs menu">
                     <!--<li>
                        <a class="btn btn_tab" href="#plan" data-toggle="tab">
                        <i class="icon-planbicente_bene"></i> Plan Bicentenario
                        </a>
                     </li>-->
                     <li>
                        <a class="btn btn_tab active" href="#nosotros" data-toggle="tab">
                        <i class="icon-nosotros_bene"></i> Nosotros
                        </a>
                     </li>
                     <li>
                        <a class="btn btn_tab" href="#directorio" data-toggle="tab">
                        <i class="icon-directorio"></i> Directorio
                        </a>
                     </li>
                     <!--<li>
                        <a class="btn btn_tab " href="#patronato" data-toggle="tab">
                            <i class="icon-contacto_landing"></i> Patronato
                        </a>
                        </li>-->
                     <li>
                        <a class="btn btn_tab " href="#historia" data-toggle="tab">
                        <i class="icon-historia_bene"></i> Historia
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="col-md-9 san_vicente_de_paul hogar_canevaro">
            <div class="section_content_ ">
               <div class="section_content_tabs_flex">
                  <div class="content_tabs">
                     <div class="tab-content">
                        <div class="tab-pane" id="plan">
                           <div class="section_content_2 content_2bicentenario">
                              <h3>Plan Bicentenario <strong class="subtitle"> &nbsp;Una misión tan grande como la que se
                                 nos ha encomendado, exige contar con un plan de gestión a largo plazo y a la altura de nuestras metas.</strong>
                              </h3>
                              <div class="tab-content">
                                 <div class="tab-pane active in" id="">
                                    <div class="item">
                                       <h3>Objetivo</h3>
                                       <p>Para el Bicentenario de la Beneficencia de Lima, en el año 2034, nos proyectamos como uns institución con
                                          programas sociales consolidados, confiables, sólida y con buena reputación institucional, modelo para la sociedad.
                                       </p>
                                       <div class="content_item">
                                          <img style="width:100%" src="{{base_url()}}/images/pilares.png">
                                          <!--
                                             <div class="sub_item sub_item--left">

                                                 <div class="imagen">

                                                     <img src="{{ base_url() }}/uploads/2019/08/plan_bicent1.png">

                                                 </div>

                                                 <div class="text">

                                                     <p>Implementación de un modelo de gobierno corporativo</p>

                                                 </div>

                                             </div>


                                             <div class="sub_item sub_item--left">

                                                 <div class="imagen">

                                                     <img src="{{ base_url() }}/uploads/2019/08/plan_bicent2.png">

                                                 </div>

                                                 <div class="text">

                                                     <p>Fortalecimiento y proyección de nuestros programas sociales</p>

                                                 </div>

                                             </div>


                                             <div class="sub_item sub_item--left">

                                                 <div class="imagen">

                                                     <img src="{{ base_url() }}/uploads/2019/08/plan_bicent3.png">

                                                 </div>

                                                 <div class="text">

                                                     <p>Recuperación y puesta en valor del patrimonio inmobiliario e histórico-cultural</p>

                                                 </div>

                                             </div>


                                             <div class="sub_item sub_item--left">

                                                 <div class="imagen">

                                                     <img src="{{ base_url() }}/uploads/2019/08/plan_bicent4.png">

                                                 </div>

                                                 <div class="text">

                                                     <p>Gestión comercial y generación de unidades de negocio</p>

                                                 </div>

                                             </div>

                                             -->
                                       </div>
                                    </div>
                                    <div class="item">
                                       <h3>Implementación del modelo<br />de gobierno corporativo</h3>
                                       <p></p>
                                       <div class="content_item">
                                          <div class="sub_item ">
                                             <div class="imagen">
                                                <img src="{{ base_url() }}/uploads/2019/08/sub1.png">
                                             </div>
                                             <div class="text">
                                                <p>Reingeniería en el modelo de gestión organizacional y financiero</p>
                                             </div>
                                          </div>
                                          <div class="sub_item ">
                                             <div class="imagen">
                                                <img src="{{ base_url() }}/uploads/2019/08/sub2.png">
                                             </div>
                                             <div class="text">
                                                <p>Renovación de la identidad corporativa</p>
                                             </div>
                                          </div>
                                          <div class="sub_item ">
                                             <div class="imagen">
                                                <img src="{{ base_url() }}/uploads/2019/08/sub3.png">
                                             </div>
                                             <div class="text">
                                                <p>Creación del Patronato de la Beneficencia</p>
                                             </div>
                                          </div>
                                          <div class="sub_item ">
                                             <div class="imagen">
                                                <img src="{{ base_url() }}/uploads/2019/08/sub4.png">
                                             </div>
                                             <div class="text">
                                                <p>Creación de comités de apoyo social, legal inmobiliario y cultural turístico</p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="item">
                                       <h3>Gestión</h3>
                                       <p></p>
                                       <div class="content_item">
                                          <div class="sub_item ">
                                             <div class="imagen">
                                                <img src="{{ base_url() }}/uploads/2019/08/sub5.png">
                                             </div>
                                             <div class="text">
                                                <p><strong>Nuevo organigrama y manual de funciones</strong><br><br>Revisión de todas las unidades de gestión con el fin de lograr una organización moderna y eficiente.</p>
                                             </div>
                                          </div>
                                          <div class="sub_item ">
                                             <div class="imagen">
                                                <img src="{{ base_url() }}/uploads/2019/08/sub6.png">
                                             </div>
                                             <div class="text">
                                                <p><strong>Reestructuración económica financiera</strong><br><br>Replanteamiento de la estructura de costos y presupuesto.</p>
                                             </div>
                                          </div>
                                          <div class="sub_item ">
                                             <div class="imagen">
                                                <img src="{{ base_url() }}/uploads/2019/08/sub7.png">
                                             </div>
                                             <div class="text">
                                                <p><strong>Lanzamiento  de la nueva identidad corporativa</strong>
                                                   <br><br>Renovación de la imagen, comunicación y posicionamiento
                                                   de la institución con el fin de recuperar la reputación y generar confianza.
                                                </p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="item">
                                       <h3>Nueva Línea Gráfica</h3>
                                       <p></p>
                                       <div class="content_item">
                                          <img style="width:100%" src="{{base_url()}}/images/identidad.png">
                                       </div>
                                       <br>
                                    </div>
                                    <div class="planb_item_double">
                                       <!--
                                          <div class="item_img">

                                              <img src="{{ base_url() }}/uploads/2019/08/plan_bene1.png">

                                          </div>

                                          <div class="item">

                                              <h3>Nueva identidad gráfica</h3>


                                              <div class="content_item">


                                                  <div class="sub_item" style="background: #ffffff;">

                                                      <div class="imagen">

                                                          <img src="{{ base_url() }}/uploads/2019/08/sub8.png">

                                                      </div>

                                                      <div class="text">

                                                          <h5>Logotipo</h5>

                                                      </div>

                                                  </div>


                                                  <div class="sub_item" style="background: #ffffff;">

                                                      <div class="imagen">

                                                          <img src="{{ base_url() }}/uploads/2019/08/sub9.png">

                                                      </div>

                                                      <div class="text">

                                                          <h5>Página Web</h5>

                                                      </div>

                                                  </div>


                                                  <div class="sub_item" style="background: #ffffff;">

                                                      <div class="imagen">

                                                          <img src="{{ base_url() }}/uploads/2019/08/sub10.png">

                                                      </div>

                                                      <div class="text">

                                                          <h5>Redes Sociales</h5>

                                                      </div>

                                                  </div>


                                              </div>


                                          </div>
                                          -->
                                    </div>
                                    <div class="planb_item_double_invertido">
                                       <div class="item">
                                          <h3>Patronato</h3>
                                          <p>Su labor es tutelar. Brinda apoyo y sostenibilidad a la
                                             Beneficencia de Lima. Se encarga de velar por el cumplimiento
                                             de los fines y la misión de la institución a través de la correcta
                                             administración de sus bienes y servicios.<br><br>
                                             <span></span>
                                          </p>
                                       </div>
                                       <div class="item_img">
                                          <img src="{{ base_url() }}/uploads/2019/08/plan_bene2.png">
                                       </div>
                                    </div>
                                    <div class="item item_color">
                                       <div class="content_item">
                                          <div class="sub_item">
                                             <div class="imagen">
                                                <img src="{{ base_url() }}/uploads/2019/08/sub11.png">
                                             </div>
                                             <div class="text">
                                                <h5>Comité Social</h5>
                                                <p>Cumple roles de soporte y guía para la gestión de los programas sociales de la Beneficencia.</p>
                                             </div>
                                          </div>
                                          <div class="sub_item">
                                             <div class="imagen">
                                                <img src="{{ base_url() }}/uploads/2019/08/sub12.png">
                                             </div>
                                             <div class="text">
                                                <h5>Comité legal e inmobiliario</h5>
                                                <p>Replanteamiento de la estructura de costos y presupuesto.</p>
                                             </div>
                                          </div>
                                          <div class="sub_item">
                                             <div class="imagen">
                                                <img src="{{ base_url() }}/uploads/2019/08/sub13.png">
                                             </div>
                                             <div class="text">
                                                <h5>Lanzamiento de la nueva identidad corporativa</h5>
                                                <p>Renovación de la imagen, comunicación y posicionamiento de la institución con el fin de recuperar la reputación y generar confianza.</p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="tab-pane  in active " id="nosotros">
                           <h3>Nosotros <strong class="subtitle"> &nbsp;Beneficencia de Lima: 188 años de historia</strong></h3>
                           
                           <br>
                                 <h4>¿Quiénes Somos?</h4>                     
                                 <p>Somos una institución comprometida a vivir para servir a las niñas, niños, adolescentes y 
                                 adultos mayores en situación de vulnerabilidad y abandono social. Asimismo, somos custodios 
                                 de un legado cultural e histórico de la ciudad de Lima Metropolitana.
                                 </p>
								 
                                 <div class="row">
								  <div class="col-md-8">
									  <div class="section_content--aboutus-vivir">
										<div class="section_content_about_container">
										  <div class="section_content_about">
											<div class="texto">
											  <div class="content_">
												<h4>Misión</h4>
												<div class="content_text">
												  <p>Servir a las personas más necesitadas de la ciudad de Lima bajo nuestro lema “Vivir para Servir”</p>
												</div>
											  </div>
											</div>
											<!--
                                 <div class="imagen"><img src="{{ base_url() }}/uploads/2019/08/bernardo-ramonfaur-436543-unsplash.png"></div>
                                    -->
										  </div>
										  <div class="section_content_about">
											<div class="texto">
											  <div class="content_">
												<h4>Visión</h4>
												<div class="content_text">
												  <p>Hacer de la Beneficencia una institución íntegra y sólida que permita mejorar y dignificar la calidad de vida 
                                      de las personas que alberga y atiende, convirtiéndolas en agentes de cambio para la ciudad.
                                      </p>
												</div>
											  </div>
											</div>
											<!--
																	 <div class="imagen"><img src="{{ base_url() }}/uploads/2019/08/chinh-le-duc-132753-unsplash.png"></div>
																		   -->
										  </div>
										</div>
										<div class="section_content_about">
										  <div class="texto">
											<div class="content_">
											  <h4 class="title--center">Valores</h4>
											  <div class="content_text">
                                    <ul>
                                       <li style="margin-bottom: 15px;">
                                       La personas es el centro de servicio.
                                       </li>
                                       <li style="margin-bottom: 10px;">
                                       <h6>Integridad</h6>
                                       Actuamos con honestidad y somos congruentes entre lo que decimos, lo que decidimos y las acciones que tomamos.<br>
                                       </li>
                                       <li style="margin-bottom: 10px;">
                                       <h6>Transparencia</h6>
                                       Damos a conocer lo qué hacemos y cómo lo hacemos. Nos comunicamos de manera clara y asertiva.<br></li>
                                       <li style="margin-bottom: 10px;">
                                       <h6>Excelencia</h6>
                                       Buscamos conseguir la máxima eficacia en la gestión para obtener los mejores resultados.<br></li>
                                       <li>
                                       <h6>Vocación de servicios</h6>
                                       Pasión por lo que se hace.</li>
                                    </ul>
                                    </p>
											  </div>
											</div>
										  </div>
										</div>
										<section>
										  <div class="vivir_para_servir">
											<!--<h2>“El que no vive para servir, no sirve para vivir.”</h2><p><strong>Santa Teresa de Calcuta</strong></p>-->
											<img style="width:100%" src="{{base_url()}}/images/madre.png">
										  </div>
										  <!--
																  <div class="vivir_para_servir"><div class="content_vivir_para_servir"><div class="item"><a href="#"><div class="image"><img style=" width: 70%;" src="{{ base_url() }}/uploads/2019/08/plan_bicent.png"></div><div class="title">
																					  Implementación de modelo de gobierno corporativo
																				  </div></a></div><div class="item"><a href="#"><div class="image"><img style="width: 70%;" src="{{ base_url() }}/uploads/2019/08/plan_bicent2.png"></div><div class="title">
																					  Fortalecimiento y proyección de nuestros programas sociales
																				  </div></a></div><div class="item"><a href="#"><div class="image"><img style="width: 70%;" src="{{ base_url() }}/uploads/2019/08/plan_bicent3.png"></div><div class="title">
																					  Puesta en valor y rentabilización del patrimonio histórico cultural e inmobiliario
																				  </div></a></div><div class="item"><a href="#"><div class="image"><img style="width: 70%;" src="{{ base_url() }}/uploads/2019/08/plan_bicent4.png"></div><div class="title">
																					  Generación y gestión de nuevas unidades de negocio
																				  </div></a></div></div></div>
																  -->
										</section>
									  </div>
									</div>
									<div class="col-md-4">
									  <div class="section_sidebar_" style="width: 100%;">
										<div class="content_">
										  <h4>
											<strong>DECRETO LEGISLATIVO N°1411 </strong>
										  </h4>
										  <p>Conoce la naturaleza jurídica, funciones, estructura orgánica y otras actividades de las sociedades de beneficencia</p>
										  <a style="color: #ff9a05;font-weight: 700;" href="https://busquedas.elperuano.pe/download/url/decreto-legislativo-que-regula-la-naturaleza-juridica-funci-decreto-legislativo-n-1411-1690482-4 ">AQUÍ</a>
										</div>
									  </div>
									</div>
									</div>
											
                        </div>
                        <div class="tab-pane" id="directorio">
                           <h3>Directorio <strong class="subtitle"> &nbsp; Beneficencia de Lima: 188 años de historia</strong></h3>
                           <div class="section_content_directorio">
                              <div class="directorio_content_">
                                 <div class="item">
                                    <!--<img src="https://www.xovi.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png">-->
                                    <h4>Javier Landázuri Barclay</h4>
                                    <p>Presidente del Directorio</p>
                                    <p></p>
                                    <p></p>
                                 </div>
                                 
                                 <div class="item">
									<h4>Arturo Woodman Pollitt</h4>
									<p>Miembro del Directorio </p>
                                    <p></p>
                                    <p></p>
                                 </div>
                                 
                                 <div class="item">
                                    <!--<img src="https://www.xovi.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png">-->
                                    <h4>José Enrique Alfonso Koechlin Von Stein</h4>
                                    <p>Miembro del Directorio</p>
                                    <p></p>
                                    <p></p>
                                 </div>
                                 
                                   <div class="item">
                                    <!--<img src="https://www.xovi.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png">-->
                                    <h4>Eryk Márquez Requena</h4>
                                    <p>Miembro del Directorio</p>
                                    <p></p>
                                    <p></p>
                                 </div>
                                 
                                  <div class="item">
									<h4>David Adolfo Palacios Valverde</h4>
									<p>Miembro del Directorio</p>
                                    <p></p>
                                    <p></p>
                                 </div>
								 
                              </div>
                           </div>
                        </div>
                        <div class="tab-pane" id="patronato">
                           <h3>Patronato <strong class="subtitle"> &nbsp;Beneficencia de Lima: 185 años de historia</strong></h3>
                           <div class="intro-patronato">
                              <p>
                                 Su labor es tutelar. Brinda apoyo y sostenibilidad a la Beneficencia de Lima.
                                 Se encarga de velar por el cumplimiento de los fines y la misión de la institución
                                 a través de la correcta administración de sus bienes y servicios.
                              </p>
                           </div>
                        </div>
                        <div class="tab-pane" id="historia">
                           <h3>Historia</h3>
                           <div class="intro-patronato">
                              <p>
                                 La Sociedad de Beneficencia de Lima se fundó el 12 de junio de 1834, por Decreto
                                 Supremo durante el gobierno provisional de Luis José de Orbegoso y Moncada, con la
                                 finalidad de servir a los sectores vulnerables de nuestra sociedad, como personas de
                                 escasos recursos, niños, adultos mayores y todo aquel que se encuentre en situación de desamparo.
                              </p>
                              <p>
                                 Desde su fundación, la institución ha contado con el apoyo económico de benefactores
                                 que han garantizado la sostenibilidad de los espacios que se fueron sumando a su
                                 administración, tales como el Instituto Sevilla, el Hogar San Vicente de Paúl, el Hogar
                                 de la Madre, el Puericultorio Pérez Araníbar, cada de ellos encargados de velar por una
                                 población específica. Además de las instituciones que lidera, la Beneficencia de Lima tiene
                                 a su cargo el Ramo de loterías, la Plaza de Acho, el Cementerio Presbítero Maestro, entre
                                 otros bienes que han sido declarados Patrimonio cultural de la nación.
                              </p>
                              <p>
                                 Entre las personalidades que han dirigido esta institución, figuran presidentes
                                 como Manuel Pardo y Manuel Candamo, y alcaldes como José Antonio
                                 Miró Quesada, Augusto Wiese y Rufino Torrico. Actualmente la Sociedad
                                 de Beneficencia de Lima, y desde el 13 de septiembre del 2018 por Decreto
                                 Legislativo N°1411, es considerada una entidad privada y bajo la presidencia,
                                 se busca fortalecer y proyectar los programas sociales que ha
                                 tenido a su cargo durante casi dos siglos de vida institucional.
                              </p>
                              <!--
                              <p><strong>Instituto Sevilla:</strong><br>
                                 Creación del Instituto Sevilla, gracias al legado de José Sevilla. Tiene como misión
                                 brindar formación a niñas y jóvenes de sectores vulnerables.
                              </p>
                              <p><strong>Hogar San Vicente de Paúl:</strong><br>
                                 Fundación de San Vicente de Paúl con la iniciativa de Don Augusto
                                 Pérez Araníbar, presidente de la Beneficencia.
                              </p>
                              <p><strong>El Ángel:</strong><br>
                                 Inauguración del Cementerio El Ángel por Manuel Prado para
                                 atender las demandas de la nueva población de la ciudad.
                              </p>
                              <p><strong>Hogar Canevaro:</strong><br>
                                 Inicio de actividades del Hogar Canevaro, un albergue para personas de la tercera edad.
                              </p>-->
                           </div>
                           <div class="owl-carousel owl-theme owl_landing_history">
                              <div class="item_owl_landing_top">
                                 <img src="{{ base_url() }}/images/sl1.jpg">
                              </div>
                              <div class="item_owl_landing_top">
                                 <img src="{{ base_url() }}/images/sl2.jpg">
                              </div>
                              <div class="item_owl_landing_top">
                                 <img src="{{ base_url() }}/images/sl3.jpg">
                              </div>
                              <div class="item_owl_landing_top">
                                 <img src="{{ base_url() }}/images/sl4.jpg">
                              </div>
                              <div class="item_owl_landing_top">
                                 <img src="{{ base_url() }}/images/sl5.jpg">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>
{% endblock content %}
