{% extends 'templates/app.twig' %}


{% block content %}
    <div class="page-template-template-centro_cultural">

    <main>

        <div class="col-lg-12 section_landing">

            <div class="owl-carousel owl-theme owl_landing_top">


                <div class="item_owl_landing_top">

                    <div class="col-lg-12 background_" style="background-image:url('{{ base_url() }}/uploads/2019/10/ccblfotos-65.jpg')">

                        <div class="ca_ content_item">

                            <h2>Centro Cultural<br></h2>


                        </div>

                    </div>

                </div>


            </div>

            <div class="owl-carousel-custom-dots owl-theme owl_dots_content_landing" >

                <a class="owl_landing_top_left" onclick="owl_landing_top.trigger('prev.owl')">

                    <img src="{{ base_url() }}/img/icon/left.png">

                </a>

                <div class="owl-dots owl_dots_landing_top"></div>

                <a class="owl_landing_top_right" onclick="owl_landing_top.trigger('next.owl')">

                    <img src="{{ base_url() }}/img/icon/right.png">

                </a>

            </div>

        </div>

    </main>




    <section>

        <div class="col-lg-12 section_menu_tabs">

            <div class="section_content_ section_content_3">

                <h3>Centro Cultural <strong class="subtitle"> &nbsp;Promueve actividades artísticas y culturales con el ánimo de poner en valor nuestro patrimonio cultural.</strong></h3>



                <div class="cultral-logo">
                    <div class="cultral-logo__imagen">
                        <img src="{{ base_url() }}/uploads/2019/09/Frame.png" alt="Centro cultural">
                    </div>
                    <div class="cultral-logo__content">
                        <h1>Centro cultural</h1>
                        <p>La Beneficencia de Lima cumple también un rol de transformar la cultura de la ciudad y contagiarla de un recto espíritu social y humano. Es por eso, que desde el Centro Cultural Beneficencia de Lima, se promueven actividades artísticas y culturales con el ánimo de poner en valor nuestro patrimonio cultural, alumbrar a la sociedad con contenido de calidad y recaudar fondos para los Programas Sociales.</p>
                    </div>

                </div>

                <div class="cultral-logos">
                    <div class="cultral-logos__item">
                        <div class="cultral-logos__imagen">
                            <img src="{{ base_url() }}/uploads/2019/10/Frame.png" alt="Casa de Divorciadas">
                        </div>
                        <h3 class="cultral-logos__titulo">Casa de Divorciadas</h3>
                    </div>
                    <div class="cultral-logos__item">
                        <div class="cultral-logos__imagen">
                            <img src="{{ base_url() }}/uploads/2019/09/Group.png" alt="Sede Teatro Puericultorio Pérez Araníbar">
                        </div>
                        <h3 class="cultral-logos__titulo">Sede Teatro Puericultorio Pérez Araníbar</h3>
                    </div>
                    <div class="cultral-logos__item">
                        <div class="cultral-logos__imagen">
                            <img src="{{ base_url() }}/uploads/2019/09/Group-1.png" alt="Nuevo Organigrama Sede Plaza De Acho">
                        </div>
                        <h3 class="cultral-logos__titulo">Nuevo Organigrama Sede Plaza De Acho</h3>
                    </div>
                    <div class="cultral-logos__item">
                        <div class="cultral-logos__imagen">
                            <img src="{{ base_url() }}/uploads/2019/09/Frame-1.png" alt="Sede Museo Cementerio Prebístero Maestro">
                        </div>
                        <h3 class="cultral-logos__titulo">Sede Museo Cementerio Prebístero Maestro</h3>
                    </div>
                </div>



            </div>






        </div>

    </section>



    <section>

        <div id="Contacto" class="col-lg-12 background_ banner2_landing_turismo" style="background-image:url({{ base_url() }}/uploads/2019/10/ccblfotos-16.jpg)">

            <div class="content_">

                <div class="row">

                    <div class="content_part content_part_2 content_part_4">
                        <p>	Contácto</p>

                        <p>

                            Ponte en contacto con nuestro Centro Cultural: centrocultura@beneficencia.org
                        </p>


                    </div>

                </div>

            </div>

        </div>

    </section>
        
        </div>

{% endblock content %}
