{% extends 'templates/app.twig' %}


{% block content %}

    <main>
        <div class="col-lg-12 section_noticias_banner background_" style="background-image:url({{ base_url() }}/uploads/2019/08/remi-walle-86579-unsplash-1.png)">            
            <div class="ca_ content_item">
                <h2>Beneficencia</h2>
            </div>
        </div>
    </main>
    <section>
        <div class="col-lg-12 section_beneficencia_general">
            <div class="section_beneficencia_container">
                <div class="section_tab">
                    <div class="filtro">
                        <ul>
                            <li class="active ">
                                <a href="{{ base_url() }}/plan-bicentenario/" ><i class="icon-planbicente_bene"></i>Plan Bicentenario</a>
                            </li>

                            <li class=" ">
                                <a href="{{ base_url() }}/beneficencia/nosotros/"><i class="icon-nosotros_bene"></i>Nosotros</a>
                            </li>

                            <li class=" ">
                                <a href="{{ base_url() }}/beneficencia/directorio/" ><i class="icon-directorio"></i>Directorio</a>
                            </li>

                            <li class=" ">
                                <a href="{{ base_url() }}/beneficencia/patronato/" ><i class="icon-patronato_bene"></i>Patronato</a>
                            </li>

                            <li class=" ">
                                <a href="{{ base_url() }}/beneficencia/historia/" ><i class="icon-historia_bene"></i>Historia</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="section_content section_planbicentedario">
                    <div class="section_content_2 content_2bicentenario">
                        <h3>Plan Bicentenario <strong class="subtitle"> &nbsp;Una misión tan grande como la que se 
                                nos ha encomendado, exige contar con un plan de gestión a largo plazo y a la altura de nuestras metas.</strong></h3>




                        <div class="tab-content">


                            <div class="tab-pane active in" id="">


                                <div class="item">

                                    <h3>Objetivo</h3>

                                    <p>Una misión tan grande como la que se nos ha encomendado, exige contar con un 
                                        plan de gestión a largo plazo y a la altura de nuestras metas.</p>


                                    <div class="content_item">


                                        <div class="sub_item sub_item--left">

                                            <div class="imagen">

                                                <img src="{{ base_url() }}/uploads/2019/08/plan_bicent1.png">

                                            </div>

                                            <div class="text">

                                                <p>Implementación de un modelo de gobierno corporativo</p>

                                            </div>

                                        </div>


                                        <div class="sub_item sub_item--left">

                                            <div class="imagen">

                                                <img src="{{ base_url() }}/uploads/2019/08/plan_bicent2.png">

                                            </div>

                                            <div class="text">

                                                <p>Fortalecimiento y proyección de nuestros programas sociales</p>

                                            </div>

                                        </div>


                                        <div class="sub_item sub_item--left">

                                            <div class="imagen">

                                                <img src="{{ base_url() }}/uploads/2019/08/plan_bicent3.png">

                                            </div>

                                            <div class="text">

                                                <p>Recuperación y puesta en valor del patrimonio inmobiliario e histórico-cultural</p>

                                            </div>

                                        </div>


                                        <div class="sub_item sub_item--left">

                                            <div class="imagen">

                                                <img src="{{ base_url() }}/uploads/2019/08/plan_bicent4.png">

                                            </div>

                                            <div class="text">

                                                <p>Gestión comercial y generación de unidades de negocio</p>

                                            </div>

                                        </div>


                                    </div>


                                </div>


                                <div class="item">

                                    <h3>Implementación del modelo<br />de gobierno corporativo</h3>

                                    <p></p>


                                    <div class="content_item">


                                        <div class="sub_item ">

                                            <div class="imagen">

                                                <img src="{{ base_url() }}/uploads/2019/08/sub1.png">

                                            </div>

                                            <div class="text">

                                                <p>Reingeniería en el modelo de gestión organizacional y financiero</p>

                                            </div>

                                        </div>


                                        <div class="sub_item ">

                                            <div class="imagen">

                                                <img src="{{ base_url() }}/uploads/2019/08/sub2.png">

                                            </div>

                                            <div class="text">

                                                <p>Renovación de la identidad corporativa</p>

                                            </div>

                                        </div>


                                        <div class="sub_item ">

                                            <div class="imagen">

                                                <img src="{{ base_url() }}/uploads/2019/08/sub3.png">

                                            </div>

                                            <div class="text">

                                                <p>Creación del Patronato de la Beneficencia</p>

                                            </div>

                                        </div>


                                        <div class="sub_item ">

                                            <div class="imagen">

                                                <img src="{{ base_url() }}/uploads/2019/08/sub4.png">

                                            </div>

                                            <div class="text">

                                                <p>Creación de comités de apoyo social, legal inmobiliario y cultural turístico</p>

                                            </div>

                                        </div>


                                    </div>


                                </div>


                                <div class="item">

                                    <h3>Gestión</h3>

                                    <p></p>


                                    <div class="content_item">


                                        <div class="sub_item ">

                                            <div class="imagen">

                                                <img src="{{ base_url() }}/uploads/2019/08/sub5.png">

                                            </div>

                                            <div class="text">

                                                <p><strong>Nuevo organigrama y manual de funciones</strong><br><br>Revisión de todas las unidades de gestión con el fin de lograr una organización moderna y eficiente.</p>

                                            </div>

                                        </div>


                                        <div class="sub_item ">

                                            <div class="imagen">

                                                <img src="{{ base_url() }}/uploads/2019/08/sub6.png">

                                            </div>

                                            <div class="text">

                                                <p><strong>Reestructuración económica financiera</strong><br><br>Replanteamiento de la estructura de costos y presupuesto.</p>

                                            </div>

                                        </div>


                                        <div class="sub_item ">

                                            <div class="imagen">

                                                <img src="{{ base_url() }}/uploads/2019/08/sub7.png">

                                            </div>

                                            <div class="text">

                                                <p><strong>Lanzamiento  de la nueva identidad corporativa</strong>
                                                    <br><br>Renovación de la imagen, comunicación y posicionamiento
                                                    de la institución con el fin de recuperar la reputación y generar confianza.</p>
                                            </div>
                                        </div>
                                                
                                                
                                    </div>
                                </div>



                                <div class="planb_item_double">

                                    <div class="item_img">

                                        <img src="{{ base_url() }}/uploads/2019/08/plan_bene1.png">

                                    </div>

                                    <div class="item">

                                        <h3>Nueva identidad gráfica</h3>


                                        <div class="content_item">


                                            <div class="sub_item" style="background: #ffffff;">

                                                <div class="imagen">

                                                    <img src="{{ base_url() }}/uploads/2019/08/sub8.png">

                                                </div>

                                                <div class="text">

                                                    <h5>Logotipo</h5>

                                                </div>

                                            </div>


                                            <div class="sub_item" style="background: #ffffff;">

                                                <div class="imagen">

                                                    <img src="{{ base_url() }}/uploads/2019/08/sub9.png">

                                                </div>

                                                <div class="text">

                                                    <h5>Página Web</h5>

                                                </div>

                                            </div>


                                            <div class="sub_item" style="background: #ffffff;">

                                                <div class="imagen">

                                                    <img src="{{ base_url() }}/uploads/2019/08/sub10.png">

                                                </div>

                                                <div class="text">

                                                    <h5>Redes Sociales</h5>

                                                </div>

                                            </div>


                                        </div>


                                    </div>

                                </div>



                                <div class="planb_item_double_invertido">

                                    <div class="item">

                                        <h3>Patronato</h3>

                                        <p>Su labor es tutelar. Brinda apoyo y sostenibilidad a la
                                            Beneficencia de Lima. Se encarga de velar por el cumplimiento
                                            de los fines y la misión de la institución a través de la correcta
                                            administración de sus bienes y servicios.<br><br>
                                            <span></span>    
                                        </p>
                                    </div>

                                    <div class="item_img">

                                        <img src="{{ base_url() }}/uploads/2019/08/plan_bene2.png">

                                    </div>

                                </div>



                                <div class="item item_color">

                                    <div class="content_item">


                                        <div class="sub_item">

                                            <div class="imagen">

                                                <img src="{{ base_url() }}/uploads/2019/08/sub11.png">

                                            </div>

                                            <div class="text">

                                                <h5>Comité Social</h5>

                                                <p>Cumple roles de soporte y guía para la gestión de los programas sociales de la Beneficencia.</p>

                                            </div>

                                        </div>


                                        <div class="sub_item">

                                            <div class="imagen">

                                                <img src="{{ base_url() }}/uploads/2019/08/sub12.png">

                                            </div>

                                            <div class="text">

                                                <h5>Comité legal e inmobiliario</h5>

                                                <p>Replanteamiento de la estructura de costos y presupuesto.</p>

                                            </div>

                                        </div>


                                        <div class="sub_item">

                                            <div class="imagen">

                                                <img src="{{ base_url() }}/uploads/2019/08/sub13.png">

                                            </div>

                                            <div class="text">

                                                <h5>Lanzamiento de la nueva identidad corporativa</h5>

                                                <p>Renovación de la imagen, comunicación y posicionamiento de la institución con el fin de recuperar la reputación y generar confianza.</p>

                                            </div>

                                        </div>


                                    </div>

                                </div>


                            </div>


                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>
</section>
{% endblock content %}
