{% extends 'templates/app.twig' %}
{% block content %}
<div class="presbitero_maestro">
   <main>
      <div class="col-lg-12 section_landing">
         <div class="owl-carousel owl-theme owl_landing_top">
            <div class="item_owl_landing_top">
               <div class="col-lg-12 background_" style="background-image:url({{ base_url() }}/images/presbitero/ppm.jpg)">
                  <div class="ca_ content_item">
                     <!--<h2>Museo Cementerio <br>Presbítero Matías Maestro</h2>
                        <div class="cc_">
                        </div>-->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </main>
   <section >
      <div id="Inicio" class="col-lg-12 section_landing_inicio">
         <h2 id="Inicio" class="ca_ title_men">Inicio</h2>
         <div class="row">
            <div class="col-lg-6 section_landing_inicio_part one_sec">
               <div class="owl-carousel owl-theme owl_presbitero_first">
                  <div class="item_owl_presbitero_first">
                     <div class="col-lg-12 background_" style="background-image:url({{ base_url() }}/uploads/2019/08/image-2.15.png)"></div>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 section_landing_inicio_part two_sec">
               <div class="cr_ landing-intro">
                  <h3>Museo Cementerio Presbítero Matías Maestro</h3>
                  <p>
                  <p>Es considerado por la UNESCO como uno de los cementerios más bellos de Latinoamérica y reconocido como Patrimonio Cultural de la Nación. Este museo es el camposanto más antiguo de Perú, que por su grandiosa arquitectura y finas esculturas es valorado por miles de visitantes tanto nacionales como extranjeros. Es un libro abierto de historia, arte y cultura desde hace más de dos siglos.</p>
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-12 content_landing_2">
         <div class="row">
            <div class="col-lg-6 content_landing_option2 ">
               <p></p>
               <p><strong>En él descansan los restos de figuras históricas como:</strong></p>
               <p>&nbsp;</p>
               <p><strong>&#8211; Héroes de la patria:</strong> Miguel Grau, Francisco Bolognesi, Alfonso Ugarte, Andrés Avelino Cáceres.</p>
               <p><strong>&#8211; Ex presidentes peruanos:</strong> José de la Riva Agüero, Manuel Pardo y Lavalle, Augusto B. Leguía, Nicolás de Piérola.</p>
               <p><strong>&#8211; Literatos:</strong> Ricardo Palma, Abraham Valdelomar, José Santos Chocano, Ciro Alegría, entre otros.</p>
               <p><strong>&#8211; Científico:</strong> Eduardo de Habich.</p>
               <p><strong>&#8211; Niño milagroso:</strong> Niño Ricardito</p>
               <p>&nbsp;</p>
               <p>Nos esmeramos por mantener el ornato para nuestros visitantes. Asimismo, realizamos guías nocturnas, para descubrir el misterio de lo que las más de veinte hectáreas de historia relatada en sus nichos, tumbas, criptas y mausoleos tienen para entregar.</p>
            </div>
            <div class="col-lg-6 content_landing_option2 landing_img_">
               <img src="{{ base_url() }}/uploads/2019/08/image-3.5.png">
            </div>
         </div>
      </div>
   </section>
   <section>
      <div class="col-lg-12 section_landing_second">
         <h2  class="ca_ title_men">Historia</h2>
         <div class="row">
            <div class="col-lg-6 section_landing_second_part_1">
               <img src="{{ base_url() }}/images/presbitero/museo.jpg">
            </div>
            <div class="col-lg-6 section_landing_second_part_2">
               <div class="content_">
                  <h3>El Museo de Sitio</h3>
                  <div class="col-lg-12 content_historia">
                     <p>Ante la necesidad de salubridad pública dado los altos niveles de descomposición de los cadáveres que se sepultaban al interior de las iglesias, se inaugura el 31 de mayo de 1808, durante el virreinato de don Fernando de Abascal y Souza, el “Cementerio General de Lima”. Fue diseñado por el Presbítero Matías Maestro Alegría, bajo un estilo Neoclásico.</p>
                     <p>En 1923 su denominación cambia a “Cementerio Presbítero Matías Maestro” en honor a su diseñador, y en el año 1972 se declara Monumento Histórico, para luego el 09 de Junio de 1999 se lo eleva a la categoría de Museo, por el valor histórico de sus trascendentales personajes.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section >
      <div class="col-lg-12 section_landing_turismo">
         <h2 id="Turismo" class="ca_ title_men">Visitas Turísticas</h2>
         <div class="row">
            <div class="col-lg-12 background_ banner_landing_turismo" style="background-image:url({{ base_url() }}/uploads/2019/08/caleb-woods-269348-unsplash-1.png)">
            </div>
            <div class="col-lg-12 informes_landing">
               <div class="item">
                  <p class="cr_">Horarios</p>
               </div>
               <div class="item">
                  <p class="cr_"><strong>Lunes a Domingo</strong><br>
                     09:00am a 6:00pm
                  </p>
               </div>
               <div class="item">
                  <p class="cr_">Precios<br>especiales</p>
               </div>
               <div class="item">
                  <p class="cr_"><strong>Particulares<br>
                     Institutos<br>
                     Universidades</strong>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <section>
      <div class="container precios_tabla">
         <table class="table">
            <thead>
               <tr>
                  <td><strong>INGRESO AL MUSEO CEMENTERIO PRESBÍTERO MATÍAS MAESTRO</strong></td>
                  <td><strong>S/</strong></td>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td><strong>RECORRIDO NOCTURNO: DE 19:00 A 22:00 HRS.: SIN GUIADO</strong></td>
                  <td></td>
               </tr>
               <tr>
                  <td>NIÑOS (Hasta los 12 años)</td>
                  <td>s/11</td>
               </tr>
               <tr>
                  <td>RESIDENTES DEL SECTOR (Barrios Altos &#8211; El Agustino), CONADIS</td>
                  <td>s/11</td>
               </tr>
               <tr>
                  <td>ADULTOS Y EMPRESAS DE TURISMO</td>
                  <td>s/22</td>
               </tr>
               <tr>
                  <td>EVENTOS CULTURALES</td>
                  <td>s/15</td>
               </tr>
               <tr>
                  <td>PERMISO DE CÁMARA FOTOGRÁFICA</td>
                  <td>s/11</td>
               </tr>
               <tr>
                  <td><strong>VISITAS EN LA MAÑANA DE 9AM A 6PM</strong></td>
                  <td></td>
               </tr>
               <tr>
                  <td>NIÑOS (Hasta los 12 años)</td>
                  <td>s/2</td>
               </tr>
               <tr>
                  <td>COLEGIOS NACIONALES</td>
                  <td>s/2</td>
               </tr>
               <tr>
                  <td>COLEGIOS PARTICULARES</td>
                  <td>s/3</td>
               </tr>
               <tr>
                  <td>ADULTO MAYOR Y CONADIS</td>
                  <td>s/3</td>
               </tr>
               <tr>
                  <td>RESIDENTES DEL SECTOR (Barrios Altos &#8211; El Agustino)</td>
                  <td>s/3</td>
               </tr>
               <tr>
                  <td>UNIVERSIDADES E INSTITUTOS</td>
                  <td>s/7</td>
               </tr>
               <tr>
                  <td>ADULTOS</td>
                  <td>s/8</td>
               </tr>
               <tr>
                  <td>GUIADO</td>
                  <td>s/55</td>
               </tr>
               <tr>
                  <td>PERMISO DE CÁMARA FOTOGRÁFICA</td>
                  <td>s/11</td>
               </tr>
            </tbody>
         </table>
      </div>
   </section>
   <section>
      <div class="col-lg-12 section_landing_second">
         <h2 class="ca_ title_men">Contáctanos</h2>
         <div class="row section_home_eventos_i">
            <div class="col-lg-8">
               <h3> Formulario<strong class="subtitle"> Complete los campos requeridos</strong></h3>
               <div class="modal__beige">
                  <div class="formulario_inmuebles">
                     <form class="row" method="post" autccomplete="off" enctype="multipart/form-data"  autocomplete="off"   id="FormRegistro" name="FormRegistro">
                        <input type="hidden" name="categoria" id="categoria"  value="Museo Cementerio Presbítero Matías Maestro">
                        <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                           <label class="label-nombres">Nombres</label>
                           <input type="text" name="nombres" id="nombres"
                              data-content="Usted debe ingresar su nombre."
                              class="form-control formulario obligate" onkeypress="return validaLetras(event)">
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                           <label class="label-apellidos">Apellidos</label>
                           <input type="text" name="apellidos" id="apellidos"
                              data-content="Usted debe ingresar sus apellidos."
                              class="form-control formulario obligate" onkeypress="return validaLetras(event)">
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                           <label class="label-apellidos">DNI</label>
                           <input type="text" name="dni" id="dni"
                              data-content="Usted debe ingresar su DNI."
                              class="form-control formulario obligate" onkeypress="return validaNumericos(event)">
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                           <label class="label-email">Correo Electrónico</label>
                           <input type="email" name="correo"
                              data-content="Usted debe ingresar su correo."
                              id="correo" class="form-control formulario obligate">
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                           <label class="label-telefono">Teléfono</label>
                           <input type="tel" name="telefono" id="telefono"
                              data-content="Usted debe ingresar su teléfono."
                              class="form-control formulario obligate" onkeypress="return validaNumericos(event)">
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                           <label class="label-telefono">Dirección</label>
                           <input type="text" name="direccion" id="direccion"
                              data-content="Usted debe ingresar su dirección."
                              class="form-control formulario obligate">
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                           <label class="label-telefono">Motivo</label>
                           <select name="motivo" id="motivo"
                              data-content="Usted debe seleccionar un motivo."
                              class="form-control formulario obligate" >
                              <option value="">Seleccione el motivo de comunicación</option>
                              <option value="Consulta">Consulta</option>
                              <option value="Donación">Donación</option>
                              <option value="Voluntariado">Voluntariado</option>
                           </select>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 form-group" id="donacion" style="display:none">
                           <label class="label-telefono">¿Qué es lo quieres donar?</label>
                           <select name="tipodonacion" id="tipodonacion"
                              data-content="Usted debe seleccionar el tipo de donación."
                              class="form-control formulario">
                              <option value="">Seleccione el tipo de donación</option>
                              <option value="Bien">Bien</option>
                              <option value="Dinero">Dinero</option>
                           </select>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 form-group" id="voluntariado" style="display:none">
                           <label class="label-telefono">¿Cuánto tiempo quieres voluntario?</label>
                           <select name="tiempovoluntario" id="tiempovoluntario"
                              data-content="Usted seleccionar el tiempo de voluntariado."
                              class="form-control formulario">
                              <option value="">Seleccione el tiempo de voluntariado</option>
                              <option value="Permanente">Permanente</option>
                              <option value="Eventual">Eventual</option>
                           </select>
                        </div>
                        <div class="col-lg-12 form-group">
                           <label class="label-telefono">Mensaje</label>
                           <textarea name="mensaje" id="mensaje"
                              data-content="Usted debe ingresar un mensaje."
                              class="form-control formulario obligate" rows="6"  placeholder="Escribe aquí tu mensaje"></textarea>
                        </div>
                        <div class="col-lg-12 form-group">
                           <div class="msg">
                           </div>
                        </div>
                        <div class="col-lg-12 form-group registrarform" >
                           <button type="button" id="registrar" class="btn btn_default next_">ENVIAR</button>
                        </div>
                        {{ csrf.field | raw }}
                     </form>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="content_ banner2_landing_turismo">
                  <p>
                     <strong>Dirección:</strong> Jirón Ancash Nº 1692 - Cercado de Lima<br>
                     <!--<strong>Director: </strong> Daniel Cáceda<br>
                     <strong>Teléfono: </strong> 01 352 62080<br>
                     <strong>WhatsApp: </strong> 99122719<br>
                     <strong>Correo: </strong>dcaceda@beneficenciadelima.org<br>-->
                  </p>
               </div>
            </div>
         </div>
      </div>
   </section>
   <div class="modal fade" id="modalMensaje" tabindex="-1" role="dialog" aria-labelledby="modalMensaje">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">Información</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               cargando contenido...espere un momento por favor
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
         </div>
      </div>
   </div>
</div>
<script>
   $('#motivo').click(function () {
       if ($(this).val() == 'Consulta') {
           $("#donacion").css("display", "none");
           $("#voluntariado").css("display", "none");
           $("#tipodonacion").removeClass("obligate");
           $("#tiempovoluntario").removeClass("obligate");
           $("#tipodonacion").val("");
           $("#tiempovoluntario").val("");
       } else if ($(this).val() == 'Donación') {
           $("#donacion").css("display", "block");
           $("#voluntariado").css("display", "none");
           $("#tipodonacion").addClass("obligate");
           $("#tiempovoluntario").removeClass("obligate");
           $("#tiempovoluntario").val("");
       } else if ($(this).val() == 'Voluntariado') {
           $("#voluntariado").css("display", "block");
           $("#donacion").css("display", "none");
           $("#tiempovoluntario").addClass("obligate");
           $("#tipodonacion").removeClass("obligate");
           $("#tipodonacion").val("");
       } else {
           $("#donacion").css("display", "none");
           $("#voluntariado").css("display", "none");
           $("#tipodonacion").removeClass("obligate");
           $("#tiempovoluntario").removeClass("obligate");
           $("#tipodonacion").val("");
           $("#tiempovoluntario").val("");
       }
   });
</script>
{% endblock content %}
